
                    /*
  #heroParagraph {
  text-indent: 0; we handle indentation via spans 
  }

  #heroParagraph .first-letter {
  margin-left: 2rem; 
  display: inline-block;
  }

  #heroParagraph .char,
  #heroHeading .char {
  display: inline-block;
  white-space: pre;
  text-indent: 0;
  }
  */
                