<section id="team-section" data-wipe-section="" class="section team">
    <style>
        @media screen and (min-width: 992px) {
            .section.team .team-collection_list {
                grid-template-columns: repeat(2, minmax(0, 24rem));
                justify-content: center;
            }
        }
        .team-modal_close-button {
            position: absolute;
            top: 1rem;
            left: 1rem;
            right: auto;
            z-index: 10;
        }
        .team-modal_close-button .icon-button {
            transform: rotate(180deg);
        }
    </style>
    <div class="padding-global">
        <div class="sixty-fourty-content-wrapper thirty-two">
            <div class="container-six-col">
                <h2 data-heading-animation="" class="heading-style-h2 text-color-clay">Distinguished Speakers</h2>
            </div>
        </div>
        <div class="team-collection_list_wrapper w-dyn-list">
            <div role="list" class="team-collection_list w-dyn-items">
                <div role="listitem" class="team-collection_item w-dyn-item">
                    <div data-wipe-card="" cms-modal-trigger="aran-quinn"
                        data-w-id="78980570-60f2-f775-b906-0bf0d666aed8" class="team-collection_item">
                        <div data-card-open-button="" class="team_card-hover_icon_wrapper">
                            <div class="icon-button">
                                <div style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                    class="icon_button-wrapper is-first">
                                    <div class="icon-arrow w-embed"><svg width="100%" height="100%" viewBox="0 0 17 10"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                fill="currentColor"></path>
                                        </svg></div>
                                </div>
                                <div style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                    class="icon_button-wrapper is-second">
                                    <div class="icon-arrow w-embed"><svg width="100%" height="100%" viewBox="0 0 17 10"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                fill="currentColor"></path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                        <div class="team_image-wrapper"><img
                                src="https://ik.imagekit.io/dr5fryhth/conferencenew/d6633b22-b0b5-40c1-8a9b-3fa75074dc9c.JPG?updatedAt=1770796068105"
                                loading="lazy"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                data-wipe-image="" alt="" sizes="100vw" class="team-image" /></div>
                        <div class="team_name-wrapper">
                            <div data-wipe-heading="" class="heading_about-page_cards text-color-clay">
                                David Bailey (KC)</div>
                            <div data-wipe-text="" class="heading_about-page_cards text-color-earth">
                                Professor of Practice Law, King’s College London</div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="team-collection_item w-dyn-item">
                    <div data-wipe-card="" cms-modal-trigger="alexandria-devlin"
                        data-w-id="78980570-60f2-f775-b906-0bf0d666aed8" class="team-collection_item">
                        <div data-card-open-button="" class="team_card-hover_icon_wrapper">
                            <div class="icon-button">
                                <div style="-webkit-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                    class="icon_button-wrapper is-first">
                                    <div class="icon-arrow w-embed"><svg width="100%" height="100%" viewBox="0 0 17 10"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                fill="currentColor"></path>
                                        </svg></div>
                                </div>
                                <div style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                    class="icon_button-wrapper is-second">
                                    <div class="icon-arrow w-embed"><svg width="100%" height="100%" viewBox="0 0 17 10"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                fill="currentColor"></path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                        <div class="team_image-wrapper"><img
                                src="https://ik.imagekit.io/dr5fryhth/conferencenew/f8aaed81-30d8-45c8-ad76-f4ca676449da.JPG?updatedAt=1770796073766"
                                loading="lazy"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                data-wipe-image="" alt="" sizes="100vw" class="team-image" /></div>
                        <div class="team_name-wrapper">
                            <div data-wipe-heading="" class="heading_about-page_cards text-color-clay">
                                Peter Alexiadis</div>
                            <div data-wipe-text="" class="heading_about-page_cards text-color-earth">
                                Visiting Professor, King’s College London</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:none" class="team_modal_component">
            <div data-close-modal="" data-w-id="72248bad-635e-58ed-3ed5-ecd9ba0f820e" style="opacity:0"
                class="team_modal-background_overlay"></div>
            <div style="-webkit-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                class="team_modal-content_wrapper">
                <div class="team_modal-colletion_list_wrapper w-dyn-list">
                    <div role="list" class="team_modal-collection_list w-dyn-items">
                        <div cms-modal-target="alexandria-devlin" role="listitem"
                            class="team_modal-collection_item w-dyn-item">
                            <div class="team_modal-content_wrapper_inner">
                                <div class="team_modal-image_wrapper">
                                    <a data-close-modal="" data-w-id="72248bad-635e-58ed-3ed5-ecd9ba0f820c" href="#"
                                        class="team-modal_close-button w-inline-block">
                                        <div class="icon-button">
                                            <div class="icon_button-wrapper is-first">
                                                <div class="icon-arrow w-embed"><svg width="100%" height="100%"
                                                        viewBox="0 0 17 10" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                            fill="currentColor"></path>
                                                    </svg></div>
                                            </div>
                                            <div class="icon_button-wrapper is-second">
                                                <div class="icon-arrow w-embed"><svg width="100%" height="100%"
                                                        viewBox="0 0 17 10" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                            fill="currentColor"></path>
                                                    </svg></div>
                                            </div>
                                        </div>
                                    </a><img
                                        src="https://ik.imagekit.io/dr5fryhth/conferencenew/f8aaed81-30d8-45c8-ad76-f4ca676449da.JPG?updatedAt=1770796073766"
                                        loading="lazy" alt="" sizes="100vw" class="team_modal-image" />
                                </div>
                                <div class="team_modal-text_content_wrapper">
                                    <div class="team_modal-lines_component">
                                        <div class="section_break-tile_wrapper">
                                            <div class="section_break-tile"></div>
                                            <div class="section_break-tile one"></div>
                                        </div>
                                        <div class="section_break-tile_wrapper">
                                            <div class="section_break-tile two"></div>
                                            <div class="section_break-tile"></div>
                                        </div>
                                        <div class="section_break-tile_wrapper">
                                            <div class="section_break-tile"></div>
                                            <div class="section_break-tile three"></div>
                                        </div>
                                        <div class="section_break-tile_wrapper">
                                            <div class="section_break-tile four"></div>
                                            <div class="section_break-tile"></div>
                                        </div>
                                    </div>
                                    <div class="team_name-wrapper">
                                        <div class="heading-team-modal text-color-clay">
                                            Peter Alexiadis</div>
                                        <div class="heading-team-modal text-color-earth">Professor, King’s College
                                            London | Research Fellow, (CERRE) | Retired Partner, Gibson, Dunn & Crutcher
                                            LLP</div>
                                    </div>
                                    <div class="padding-bottom padding-small">
                                        <div class="body-medium text-indent text-color-clay w-richtext">
                                            <p>Peter is a visiting Professor at King's College London; Research Fellow
                                                at Centre for European Regulation (CERRE), Retired Partner at Gibson,
                                                Dunn & Crutcher LLP
                                                Peter has practised Community law in Brussels since 1989, specialising
                                                in competition law, communications policy, and intellectual property
                                                law. He holds postgraduate legal qualifications from the Universities of
                                                London, Sydney and Thessaloniki. He retired from the US law firm Gibson,
                                                Dunn & Crutcher LLP on 1 January 2022, having been the Partner-in-Charge
                                                of the Brussels office. He has been an academic at Kings College since
                                                2006, where he is a Visiting Professor, having taught the respective LLM
                                                modules on Competition Law & Regulated Network Sectors and the Digital
                                                Regulation. He has previously taught Competition Law at the Strathclyde
                                                Management School and currently a Research Fellow at the Centre for
                                                European Regulation (CERRE) and teaches regularly on OECD programmes and
                                                at the College of Europe's Summer School for Competition Authorities.
                                                Much of his time is spent advising competition and sector-specific
                                                regulators, and government Ministries responsible for implementing
                                                policy, legislative and policy change. He is the Chief Editor of the
                                                Utilities Law Review (ULR) and the International Bar Association's
                                                International Business Law (IBL) Journal. Peter is also an Advisor to
                                                the International Institute of Communications (IIC). He writes for a
                                                range of academic and professional publications and speaks regularly on
                                                policy issues at various international fora. Every two years, he or
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div cms-modal-target="aran-quinn" role="listitem"
                            class="team_modal-collection_item w-dyn-item">
                            <div class="team_modal-content_wrapper_inner">
                                <div class="team_modal-image_wrapper">
                                    <a data-close-modal="" data-w-id="72248bad-635e-58ed-3ed5-ecd9ba0f820c" href="#"
                                        class="team-modal_close-button w-inline-block">
                                        <div class="icon-button">
                                            <div class="icon_button-wrapper is-first">
                                                <div class="icon-arrow w-embed"><svg width="100%" height="100%"
                                                        viewBox="0 0 17 10" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                            fill="currentColor"></path>
                                                    </svg></div>
                                            </div>
                                            <div class="icon_button-wrapper is-second">
                                                <div class="icon-arrow w-embed"><svg width="100%" height="100%"
                                                        viewBox="0 0 17 10" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                            fill="currentColor"></path>
                                                    </svg></div>
                                            </div>
                                        </div>
                                    </a><img
                                        src="https://ik.imagekit.io/dr5fryhth/conferencenew/d6633b22-b0b5-40c1-8a9b-3fa75074dc9c.JPG?updatedAt=1770796068105"
                                        loading="lazy" alt="" sizes="100vw" class="team_modal-image" />
                                </div>
                                <div class="team_modal-text_content_wrapper">
                                    <div class="team_modal-lines_component">
                                        <div class="section_break-tile_wrapper">
                                            <div class="section_break-tile"></div>
                                            <div class="section_break-tile one"></div>
                                        </div>
                                        <div class="section_break-tile_wrapper">
                                            <div class="section_break-tile two"></div>
                                            <div class="section_break-tile"></div>
                                        </div>
                                        <div class="section_break-tile_wrapper">
                                            <div class="section_break-tile"></div>
                                            <div class="section_break-tile three"></div>
                                        </div>
                                        <div class="section_break-tile_wrapper">
                                            <div class="section_break-tile four"></div>
                                            <div class="section_break-tile"></div>
                                        </div>
                                    </div>
                                    <div class="team_name-wrapper">
                                        <div class="heading-team-modal text-color-clay">David Bailey (KC)</div>
                                        <div class="heading-team-modal text-color-earth">Professor of Practice of Law,
                                            King’s College London | Barrister, Brick Court Chambers</div>
                                    </div>
                                    <div class="padding-bottom padding-small">
                                        <div class="body-medium text-indent text-color-clay w-richtext">
                                            <p>Peter has practiced Community law in Brussels since 1989, specialising in
                                                competition law, regulatory policy (especially in the communications
                                                sector), and intellectual property law. He holds postgraduate legal
                                                qualifications from the Universities of London, Sydney and Thessaloniki.
                                                He retired from the US law firm Gibson, Dunn & Crutcher LLP on 1 January
                                                2022, having been the Partner-in-Charge of the Brussels office for many
                                                years. At Kings College, Peter taught the respective LLM modules on
                                                Competition Law & Regulated Network Sectors and on Digital Regulation.
                                                He has previously taught Competition Law at the Strathclyde Management
                                                School and is currently a Research Fellow at the Centre for European
                                                Regulation (CERRE) and teaches regularly on OECD programmes and at the
                                                College of Europe's Summer School for Competition Authorities. Much of
                                                his time is spent advising competition and sector-specific regulators,
                                                and government Ministries responsible for implementing policy,
                                                legislative and policy change. He is the Chief Editor of the Utilities
                                                Law Review (ULR) and the International Bar Association's International
                                                Business Law (IBL) Journal. Peter is also an Advisor to the
                                                International Institute of Communications (IIC). He writes for a range
                                                of academic and professional publications and speaks regularly on policy
                                                issues at various international fora.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
