<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
            <div class="nav-container w-container">
                <div class="master-navigation-links">
                    <div class="mobile-links">
                        <a href="#hero" class="nav-link brand w-inline-block">
                            <div class="button-label">CMC Ghana</div>
                        </a>
                        <a class="nav-link cta w-inline-block">
                            <div class="button-label">RSVP</div>
                        </a>
                    </div>
                    <div class="wrap-navigation-links">
                        <a href="/" aria-current="page" class="nav-link brand mobile-hidden w-inline-block w--current">
                            <div class="button-label">CMC Ghana</div>
                        </a>
                        <a data-link="color-change" href="#base" class="nav-link base w-inline-block">
                            <div class="button-label">Base</div>
                            <div class="nav-link-bg base"></div>
                        </a>
                        <a data-link="color-change" href="#makes" class="nav-link makes w-inline-block">
                            <div class="button-label">Makes</div>
                            <div class="nav-link-bg makes"></div>
                        </a>
                        <a data-link="color-change" href="#skills" class="nav-link skills w-inline-block">
                            <div class="button-label">Skills</div>
                            <div class="nav-link-bg skills"></div>
                        </a>
                        <a data-link="color-change" href="#story" class="nav-link story w-inline-block">
                            <div class="button-label">Story</div>
                            <div class="nav-link-bg story"></div>
                        </a>
                        <a data-link="color-change" href="#signal" class="nav-link signal w-inline-block">
                            <div class="button-label">Signal</div>
                            <div class="nav-link-bg signal"></div>
                        </a>
                        <a class="nav-link cta mobile-hidden w-inline-block">
                            <div class="button-label">RSVP</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>