<div class="yir24_footer-wrap">
    <div class="footer-new_component">
        <div class="padding-global">
            <div class="container-large">
                <div class="footer-new_layout">
                    <div class="footer-logo-wrap"><a href="/" class="footer-logo w-inline-block"><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/658596f75ce530f817476fb4_logo-new-footer.svg"
                                loading="lazy" alt="Snowhouse Studio Logo" /></a>
                        <div class="footer-links-wrap"><a
                                href="https://webflow.com/webflowconf/2023/webflow-awards-recipient/snowhouse-digital"
                                target="_blank" class="webflow-badge-hero is-footer w-inline-block">
                                <div class="webflow-badge-hero-left"><img
                                        src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/667bdbed7d655684cff9a9bf_webflow-icon%202.svg"
                                        loading="lazy" alt="" /></div>
                                <div class="webflow-badge-hero-right">
                                    <div class="navbar_link is-webflow-badge">Professional partner of the year: Finalist
                                    </div>
                                </div>
                            </a><a href="https://webflow.com/@snowhouse-team" target="_blank"
                                class="webflow-link w-inline-block">
                                <div class="badge-professional is-footer w-embed"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                                        viewBox="0 0 201 42" fill="none" preserveAspectRatio="xMidYMid meet"
                                        aria-hidden="true" role="img">
                                        <g clip-path="url(#clip0_757_7651)">
                                            <g clip-path="url(#clip1_757_7651)">
                                                <g clip-path="url(#clip2_757_7651)">
                                                    <path
                                                        d="M200.197 7.7373C200.197 3.31902 196.615 -0.262695 192.197 -0.262695H8.25C3.83172 -0.262695 0.25 3.31903 0.25 7.7373V33.5173C0.25 37.9356 3.83172 41.5173 8.25 41.5173H192.197C196.615 41.5173 200.197 37.9356 200.197 33.5173V7.7373Z"
                                                        fill="white"></path>
                                                    <path
                                                        d="M34.4415 17.0681C34.4415 17.0681 32.5264 22.8312 32.3825 23.3204C32.3271 22.8312 30.9324 12.4746 30.9324 12.4746C27.6666 12.4746 25.9285 14.6969 25.0097 17.0681C25.0097 17.0681 22.685 22.8525 22.4968 23.3416C22.4857 22.8845 22.1425 17.1319 22.1425 17.1319C21.9432 14.2397 19.1978 12.4852 16.9727 12.4852L19.6517 28.1797C23.0724 28.1691 24.9101 25.9467 25.8732 23.5862C25.8732 23.5862 27.9212 18.4823 28.0098 18.2483C28.0319 18.4717 29.4821 28.1797 29.4821 28.1797C32.9028 28.1797 34.7516 26.0956 35.7479 23.8201L40.5303 12.4746C37.1428 12.4746 35.3604 14.6969 34.4415 17.0681Z"
                                                        fill="currentcolor"></path>
                                                    <path
                                                        d="M51.1289 25.1981H52.9812V21.4101H54.3739C56.5047 21.4101 58.0226 20.477 58.0226 18.3741V18.3184C58.0226 16.2294 56.5604 15.2406 54.3321 15.2406H51.1289V25.1981ZM52.9812 20.0731V16.675H54.3321C55.5159 16.675 56.2121 17.1346 56.2121 18.3184V18.3741C56.2121 19.4743 55.5577 20.0731 54.3321 20.0731H52.9812ZM59.4763 25.1981H61.1614V21.4101C61.1614 19.8642 62.0527 19.3907 63.529 19.3768V17.8031C62.3035 17.817 61.621 18.3601 61.1614 19.2793V17.9145H59.4763V25.1981ZM68.1344 24.0283C66.8531 24.0283 66.115 23.0952 66.115 21.6051V21.4936C66.115 19.9896 66.881 19.0843 68.1344 19.0843C69.3878 19.0843 70.1399 20.0035 70.1399 21.5076V21.6051C70.1399 23.0952 69.3878 24.0283 68.1344 24.0283ZM68.1204 25.3374C70.2651 25.3374 71.8668 23.8612 71.8668 21.5911V21.4797C71.8668 19.2515 70.2651 17.7613 68.1344 17.7613C65.9897 17.7613 64.3881 19.2654 64.3881 21.5215V21.6329C64.3881 23.8473 65.9757 25.3374 68.1204 25.3374ZM73.6819 25.1981H75.367V19.1818H77.0243V17.9145H75.367V16.87C75.367 16.2433 75.6454 15.7976 76.3278 15.7976C76.6342 15.7976 76.8989 15.8533 77.0939 15.923V14.6139C76.7875 14.5164 76.5368 14.4746 76.1329 14.4746C74.5732 14.4746 73.6819 15.3381 73.6819 16.9396V17.9145H72.6931V19.1818H73.6819V25.1981ZM81.3662 25.3374C83.2324 25.3374 84.4718 24.5018 84.7086 22.9699H83.0792C82.9538 23.6801 82.4246 24.084 81.408 24.084C80.1546 24.084 79.4581 23.3041 79.4024 21.9254H84.7364V21.4379C84.7364 18.8337 83.107 17.7613 81.2966 17.7613C79.2215 17.7613 77.6755 19.2654 77.6755 21.5215V21.6329C77.6755 23.9308 79.2215 25.3374 81.3662 25.3374ZM79.4303 20.7973C79.5974 19.6693 80.2799 18.9868 81.2966 18.9868C82.3411 18.9868 82.9817 19.5439 83.0652 20.7973H79.4303ZM88.8024 25.3374C90.6686 25.3374 91.7132 24.4879 91.7132 23.0117C91.7132 21.4658 90.6965 21.048 88.9835 20.7834C87.8276 20.5884 87.4795 20.3795 87.4795 19.8503C87.4795 19.335 87.9111 18.9868 88.6353 18.9868C89.4152 18.9868 89.7913 19.2932 89.9306 19.9617H91.4904C91.3093 18.3184 90.1255 17.7613 88.6353 17.7613C87.2705 17.7613 85.9058 18.4855 85.9058 19.9478C85.9058 21.3126 86.6159 21.8557 88.5378 22.1621C89.6102 22.3432 90.0976 22.566 90.0976 23.1648C90.0976 23.7776 89.6937 24.0979 88.7885 24.0979C87.7997 24.0979 87.4237 23.6662 87.3401 22.9281H85.7526C85.8222 24.474 86.9223 25.3374 88.8024 25.3374ZM95.6841 25.3374C97.5503 25.3374 98.5949 24.4879 98.5949 23.0117C98.5949 21.4658 97.5781 21.048 95.8651 20.7834C94.7092 20.5884 94.3612 20.3795 94.3612 19.8503C94.3612 19.335 94.7928 18.9868 95.517 18.9868C96.2969 18.9868 96.673 19.2932 96.8123 19.9617H98.372C98.191 18.3184 97.0071 17.7613 95.517 17.7613C94.1522 17.7613 92.7874 18.4855 92.7874 19.9478C92.7874 21.3126 93.4976 21.8557 95.4195 22.1621C96.4918 22.3432 96.9793 22.566 96.9793 23.1648C96.9793 23.7776 96.5754 24.0979 95.6702 24.0979C94.6814 24.0979 94.3054 23.6662 94.2218 22.9281H92.6343C92.7039 24.474 93.804 25.3374 95.6841 25.3374ZM100.115 25.1981H101.8V17.9145H100.115V25.1981ZM100.937 16.7168C101.494 16.7168 101.939 16.299 101.939 15.7559C101.939 15.1988 101.494 14.781 100.937 14.781C100.38 14.781 99.934 15.1988 99.934 15.7559C99.934 16.299 100.38 16.7168 100.937 16.7168ZM107.113 24.0283C105.832 24.0283 105.094 23.0952 105.094 21.6051V21.4936C105.094 19.9896 105.86 19.0843 107.113 19.0843C108.367 19.0843 109.119 20.0035 109.119 21.5076V21.6051C109.119 23.0952 108.367 24.0283 107.113 24.0283ZM107.099 25.3374C109.244 25.3374 110.846 23.8612 110.846 21.5911V21.4797C110.846 19.2515 109.244 17.7613 107.113 17.7613C104.969 17.7613 103.367 19.2654 103.367 21.5215V21.6329C103.367 23.8473 104.955 25.3374 107.099 25.3374ZM112.368 25.1981H114.053V20.9087C114.053 19.7528 114.819 19.1679 115.766 19.1679C116.768 19.1679 117.214 19.6693 117.214 20.7695V25.1981H118.899V20.6163C118.899 18.6108 117.869 17.7613 116.406 17.7613C115.209 17.7613 114.401 18.3601 114.053 19.0704V17.9145H112.368V25.1981ZM122.749 25.3374C123.863 25.3374 124.504 24.9335 124.977 24.3068V25.1981H126.634V20.4213C126.634 18.4298 125.353 17.7613 123.724 17.7613C122.094 17.7613 120.743 18.4716 120.604 20.1706H122.234C122.317 19.4464 122.749 19.0286 123.626 19.0286C124.615 19.0286 124.949 19.5161 124.949 20.4909V20.8669H124.044C121.955 20.8669 120.312 21.4797 120.312 23.1788C120.312 24.6968 121.412 25.3374 122.749 25.3374ZM123.153 24.1258C122.317 24.1258 121.983 23.7219 121.983 23.1091C121.983 22.2178 122.805 21.9254 124.086 21.9254H124.949V22.6496C124.949 23.5826 124.183 24.1258 123.153 24.1258ZM128.607 25.1981H130.292V14.5442H128.607V25.1981ZM135.804 25.1981H137.656V21.4101H139.049C141.18 21.4101 142.698 20.477 142.698 18.3741V18.3184C142.698 16.2294 141.236 15.2406 139.007 15.2406H135.804V25.1981ZM137.656 20.0731V16.675H139.007C140.191 16.675 140.887 17.1346 140.887 18.3184V18.3741C140.887 19.4743 140.233 20.0731 139.007 20.0731H137.656ZM145.924 25.3374C147.038 25.3374 147.679 24.9335 148.152 24.3068V25.1981H149.809V20.4213C149.809 18.4298 148.528 17.7613 146.899 17.7613C145.269 17.7613 143.918 18.4716 143.779 20.1706H145.409C145.492 19.4464 145.924 19.0286 146.801 19.0286C147.79 19.0286 148.124 19.5161 148.124 20.4909V20.8669H147.219C145.13 20.8669 143.487 21.4797 143.487 23.1788C143.487 24.6968 144.587 25.3374 145.924 25.3374ZM146.328 24.1258C145.492 24.1258 145.158 23.7219 145.158 23.1091C145.158 22.2178 145.98 21.9254 147.261 21.9254H148.124V22.6496C148.124 23.5826 147.358 24.1258 146.328 24.1258ZM151.74 25.1981H153.425V21.4101C153.425 19.8642 154.317 19.3907 155.793 19.3768V17.8031C154.567 17.817 153.885 18.3601 153.425 19.2793V17.9145H151.74V25.1981ZM159.823 25.3235C160.338 25.3235 160.7 25.2399 160.965 25.1424V23.8055C160.728 23.903 160.477 23.9447 160.143 23.9447C159.614 23.9447 159.307 23.6662 159.307 23.0117V19.1818H160.909V17.9145H159.307V16.3129H157.622V17.9145H156.647V19.1818H157.622V23.1648C157.622 24.5436 158.374 25.3235 159.823 25.3235ZM162.485 25.1981H164.17V20.9087C164.17 19.7528 164.936 19.1679 165.883 19.1679C166.885 19.1679 167.331 19.6693 167.331 20.7695V25.1981H169.016V20.6163C169.016 18.6108 167.986 17.7613 166.523 17.7613C165.326 17.7613 164.518 18.3601 164.17 19.0704V17.9145H162.485V25.1981ZM174.161 25.3374C176.027 25.3374 177.267 24.5018 177.504 22.9699H175.874C175.749 23.6801 175.22 24.084 174.203 24.084C172.95 24.084 172.253 23.3041 172.198 21.9254H177.531V21.4379C177.531 18.8337 175.902 17.7613 174.092 17.7613C172.016 17.7613 170.471 19.2654 170.471 21.5215V21.6329C170.471 23.9308 172.016 25.3374 174.161 25.3374ZM172.225 20.7973C172.392 19.6693 173.075 18.9868 174.092 18.9868C175.136 18.9868 175.777 19.5439 175.86 20.7973H172.225ZM179.036 25.1981H180.722V21.4101C180.722 19.8642 181.613 19.3907 183.089 19.3768V17.8031C181.864 17.817 181.181 18.3601 180.722 19.2793V17.9145H179.036V25.1981Z"
                                                        fill="currentcolor"></path>
                                                </g>
                                            </g>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_757_7651">
                                                <rect width="200" height="42" fill="white" transform="translate(0.25)">
                                                </rect>
                                            </clipPath>
                                            <clipPath id="clip1_757_7651">
                                                <rect width="200" height="41.78" fill="white"
                                                    transform="translate(0.25)"></rect>
                                            </clipPath>
                                            <clipPath id="clip2_757_7651">
                                                <rect width="199.947" height="41.78" fill="white"
                                                    transform="translate(0.25 -0.262695)"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg></div>
                            </a>
                            <div class="footer-links">
                                <div class="footer_links-row-new"><a href="/services"
                                        class="footer_link is-new">Services</a><a href="/pricing"
                                        class="footer_link is-new">Pricing</a><a href="/projects"
                                        class="footer_link is-new">projects</a><a href="/insights"
                                        class="footer_link is-new">Insights</a><a href="/about"
                                        class="footer_link is-new">About</a><a href="/contact"
                                        class="footer_link is-new">contact</a><a href="/testimonials"
                                        class="footer_link is-new">Testimonials</a><a href="/about#careers"
                                        class="footer_link is-new">Careers</a><a href="/year-in-review-2024"
                                        aria-current="page" class="footer_link is-new w--current">2024: Year in
                                        Review</a></div>
                                <div class="footer-legal-wrap">
                                    <div class="text-size-small opacity-50">© 2025 Snowhouse Studio</div>
                                    <div class="div-block-20"><a href="/terms-and-conditions"
                                            class="footer_link is-new">terms</a><a href="/privacy-policy"
                                            class="footer_link is-new">privacy</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-social-block"><a href="https://twitter.com/SnowhouseStudio" target="_blank"
                            class="footer-link w-inline-block">
                            <div class="icon-embed-footer w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="70"
                                    height="62" viewBox="0 0 70 62" fill="none">
                                    <path
                                        d="M55.1291 0H65.8629L42.4127 26.2626L70 62H48.3994L31.481 40.3254L12.1226 62H1.38228L26.4646 33.9092L0 0H22.149L37.4417 19.8114L55.1291 0ZM51.3619 55.7046H57.3096L18.9172 5.96472H12.5347L51.3619 55.7046Z"
                                        fill="#1458E4"></path>
                                </svg></div>
                        </a><a href="https://www.linkedin.com/company/snowhouse-studio/" target="_blank"
                            class="footer-link w-inline-block">
                            <div class="icon-embed-footer w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                    height="100%" viewBox="0 0 80 78" fill="none" preserveAspectRatio="xMidYMid meet"
                                    aria-hidden="true" role="img">
                                    <path
                                        d="M16.6 8.79036C16.6 13.3937 12.9 17.1237 8.33333 17.1237C3.76667 17.1237 0.0666667 13.3937 0.0666667 8.79036C0.0666667 4.19036 3.76667 0.457031 8.33333 0.457031C12.9 0.457031 16.6 4.19036 16.6 8.79036ZM16.6667 23.7904H0V77.1237H16.6667V23.7904ZM43.2733 23.7904H26.7133V77.1237H43.2767V49.127C43.2767 33.5604 63.3733 32.287 63.3733 49.127V77.1237H80V43.3537C80 17.087 50.26 18.0437 43.2733 30.9737V23.7904Z"
                                        fill="currentColor"></path>
                                </svg></div>
                        </a><a href="https://dribbble.com/snowhousestudio" target="_blank"
                            class="footer-link w-inline-block">
                            <div class="icon-embed-footer w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                    height="100%" viewBox="0 0 80 81" fill="none" preserveAspectRatio="xMidYMid meet"
                                    aria-hidden="true" role="img">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M40 0.457031C17.9176 0.457031 0 18.3746 0 40.457C0 62.5395 17.9176 80.457 40 80.457C62.039 80.457 80 62.5395 80 40.457C80 18.3746 62.039 0.457031 40 0.457031ZM66.4208 18.8952C71.193 24.7087 74.0565 32.1273 74.1432 40.1533C73.0153 39.9365 61.7352 37.637 50.3687 39.0688C50.1085 38.5048 49.8915 37.8973 49.6313 37.29C48.937 35.6415 48.1562 33.9495 47.3753 32.3443C59.9565 27.225 65.6833 19.8497 66.4208 18.8952ZM40 6.35726C48.6768 6.35726 56.616 9.61106 62.6465 14.9473C62.039 15.815 56.8763 22.713 44.7288 27.2683C39.1323 16.9863 32.9285 8.56983 31.974 7.26831C34.5335 6.66093 37.2235 6.35726 40 6.35726ZM25.4665 9.56766C26.3775 10.7824 32.4513 19.2423 38.1345 29.3073C22.1692 33.559 8.06942 33.4723 6.55097 33.4723C8.76355 22.8865 15.9219 14.0796 25.4665 9.56766ZM5.81345 40.5005C5.81345 40.1533 5.81345 39.8063 5.81345 39.4593C7.2885 39.5025 23.8612 39.7195 40.911 34.6003C41.909 36.509 42.82 38.4613 43.6877 40.4135C43.2537 40.5438 42.7765 40.674 42.3428 40.804C24.7288 46.4873 15.3579 62.0188 14.577 63.3203C9.154 57.29 5.81345 49.264 5.81345 40.5005ZM40 74.6435C32.104 74.6435 24.8156 71.9538 19.0455 67.4418C19.6529 66.1838 26.5942 52.8215 45.8567 46.097C45.9435 46.0535 45.987 46.0535 46.0738 46.0103C50.8893 58.4613 52.8418 68.9168 53.3623 71.9103C49.2407 73.689 44.7287 74.6435 40 74.6435ZM59.0455 68.7868C58.6985 66.7043 56.8763 56.726 52.4078 44.4483C63.1237 42.7563 72.4945 45.533 73.666 45.9235C72.191 55.4245 66.7245 63.624 59.0455 68.7868Z"
                                        fill="currentColor"></path>
                                </svg></div>
                        </a><a href="https://www.facebook.com/snowhouse.studio/" target="_blank"
                            class="footer-link w-inline-block">
                            <div class="icon-embed-footer w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                    height="100%" viewBox="0 0 80 81" fill="none" preserveAspectRatio="xMidYMid meet"
                                    aria-hidden="true" role="img">
                                    <path
                                        d="M80 40.7015C80 18.4751 62.0914 0.457031 40 0.457031C17.9086 0.457031 0 18.4751 0 40.7015C0 60.7886 14.6274 77.4379 33.75 80.457V52.3346H23.5938V40.7015H33.75V31.8351C33.75 21.7488 39.7217 16.1775 48.8586 16.1775C53.235 16.1775 57.8125 16.9635 57.8125 16.9635V26.8675H52.7686C47.7996 26.8675 46.25 29.9697 46.25 33.1523V40.7015H57.3438L55.5703 52.3346H46.25V80.457C65.3726 77.4379 80 60.7886 80 40.7015Z"
                                        fill="currentColor"></path>
                                </svg></div>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
</div>