<div data-animation="default" class="navbar_component is-yir24 w-nav" data-easing2="ease" theme="blue"
    fs-scrolldisable-element="smart-nav" data-easing="ease" data-collapse="medium" role="banner" data-duration="400">
    <div class="navbar_container"><a href="/" class="navbar_logo-link w-nav-brand"><img loading="lazy"
                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/6556729a7334d6b8683f5a6f_logo.svg"
                alt="Snowhouse Studio Logo" class="navbar_logo" /><img loading="lazy"
                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/6564cf8fd81c36b620c67f9b_nav-logo2.svg"
                alt="Snowhouse Studio Logo" class="navbar_logo-white" /></a></div>
</div>