<section id="organizer-section" data-wipe-section="" class="section team">
    <style>
        @media screen and (min-width: 992px) {
            #organizer-section .team-collection_list {
                grid-template-columns: repeat(4, minmax(0, 18rem));
                justify-content: center;
            }

            #organizer-section .org_modal-content_wrapper {
                width: 100vw !important;
                max-width: none !important;
            }

            #organizer-section .org_modal-content_wrapper_inner {
                display: grid;
                grid-template-columns: 2fr 3fr;
                gap: 4rem;
                height: 100%;
                align-items: start;
                padding: 4rem;
            }

            #organizer-section .org_modal-image_wrapper {
                height: 100%;
                width: 100%;
            }

            #organizer-section .org_modal-image {
                height: 100% !important;
                width: 100% !important;
                object-fit: cover;
            }

            #organizer-section .org_modal-text_content_wrapper {
                height: 100%;
                overflow-y: auto;
            }
        }

        #organizer-section .org-modal_close-button {
            position: absolute;
            top: 1rem;
            left: 1rem;
            right: auto;
            z-index: 10;
        }

        #organizer-section .org-modal_close-button .icon-button {
            transform: rotate(180deg);
        }
    </style>
    <div class="padding-global">
        <div class="sixty-fourty-content-wrapper thirty-two">
            <div class="container-six-col">
                <h2 data-heading-animation="" class="heading-style-h2 text-color-clay">Event Organizers</h2>
            </div>
        </div>
        <div class="team-collection_list_wrapper w-dyn-list">
            <div role="list" class="team-collection_list w-dyn-items">
                <div role="listitem" class="team-collection_item w-dyn-item">
                    <div data-wipe-card="" data-org-modal-trigger="kofi-datsa" data-w-id="78980570-60f2-f775-b906-0bf0d666aed8"
                        class="team-collection_item" style="cursor:pointer;">
                        <div data-card-open-button="" class="team_card-hover_icon_wrapper">
                            <div class="icon-button">
                                <div class="icon_button-wrapper is-first">
                                    <div class="icon-arrow w-embed"><svg width="100%" height="100%" viewBox="0 0 17 10"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                fill="currentColor"></path>
                                        </svg></div>
                                </div>
                                <div class="icon_button-wrapper is-second">
                                    <div class="icon-arrow w-embed"><svg width="100%" height="100%" viewBox="0 0 17 10"
                                            fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                fill="currentColor"></path>
                                        </svg></div>
                                </div>
                            </div>
                        </div>
                        <div class="team_image-wrapper"><img src="https://ik.imagekit.io/dr5fryhth/creep.jpeg"
                                loading="lazy"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                data-wipe-image="" alt="" sizes="100vw" class="team-image" /></div>
                        <div class="team_name-wrapper">
                            <div data-wipe-heading="" class="heading_about-page_cards text-color-clay">
                                Paul Kofi Datsa</div>
                            <div data-wipe-text="" class="heading_about-page_cards text-color-earth">
                                Managing Director, Competition & Markets Center</div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="team-collection_item w-dyn-item">
                    <div data-wipe-card="" data-w-id="78980570-60f2-f775-b906-0bf0d666aed8"
                        class="team-collection_item">
                        <a href="https://www.linkedin.com/in/eleanor-sarpong-5328436/" target="_blank"
                            rel="noopener noreferrer" class="team_card-hover_icon_wrapper">
                            <div class="icon-button">
                                <div class="icon_button-wrapper is-first">
                                    <div class="icon-arrow w-embed"><img
                                            src="https://ik.imagekit.io/dr5fryhth/linkedin.png" width="100%"
                                            height="100%" alt="LinkedIn" style="filter: brightness(0);" /></div>
                                </div>
                                <div class="icon_button-wrapper is-second">
                                    <div class="icon-arrow w-embed"><img
                                            src="https://ik.imagekit.io/dr5fryhth/linkedin.png" width="100%"
                                            height="100%" alt="LinkedIn" style="filter: brightness(0);" /></div>
                                </div>
                            </div>
                        </a>
                        <div class="team_image-wrapper"><img src="https://ik.imagekit.io/dr5fryhth/eleanor"
                                loading="lazy"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                data-wipe-image="" alt="" sizes="100vw" class="team-image" /></div>
                        <div class="team_name-wrapper">
                            <div data-wipe-heading="" class="heading_about-page_cards text-color-clay">
                                Eleanor Sarpong</div>
                            <div data-wipe-text="" class="heading_about-page_cards text-color-earth">
                                International Liaison, Competition & Markets Center</div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="team-collection_item w-dyn-item">
                    <div data-wipe-card="" data-w-id="78980570-60f2-f775-b906-0bf0d666aed8"
                        class="team-collection_item">
                        <a href="#" class="team_card-hover_icon_wrapper">
                            <div class="icon-button">
                                <div class="icon_button-wrapper is-first">
                                    <div class="icon-arrow w-embed"><img
                                            src="https://ik.imagekit.io/dr5fryhth/linkedin.png" width="100%"
                                            height="100%" alt="LinkedIn" style="filter: brightness(0);" /></div>
                                </div>
                                <div class="icon_button-wrapper is-second">
                                    <div class="icon-arrow w-embed"><img
                                            src="https://ik.imagekit.io/dr5fryhth/linkedin.png" width="100%"
                                            height="100%" alt="LinkedIn" style="filter: brightness(0);" /></div>
                                </div>
                            </div>
                        </a>
                        <div class="team_image-wrapper"><img src="https://ik.imagekit.io/dr5fryhth/attopany"
                                loading="lazy"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                data-wipe-image="" alt="" sizes="100vw" class="team-image" /></div>
                        <div class="team_name-wrapper">
                            <div data-wipe-heading="" class="heading_about-page_cards text-color-clay">
                                George Attopany</div>
                            <div data-wipe-text="" class="heading_about-page_cards text-color-earth">
                                IT Consultant</div>
                        </div>
                    </div>
                </div>
                <div role="listitem" class="team-collection_item w-dyn-item">
                    <div data-wipe-card="" data-w-id="78980570-60f2-f775-b906-0bf0d666aed8"
                        class="team-collection_item">
                        <a href="https://www.linkedin.com/in/fredrick-agyare-9887a0244/" target="_blank"
                            rel="noopener noreferrer" class="team_card-hover_icon_wrapper">
                            <div class="icon-button">
                                <div class="icon_button-wrapper is-first">
                                    <div class="icon-arrow w-embed"><img
                                            src="https://ik.imagekit.io/dr5fryhth/linkedin.png" width="100%"
                                            height="100%" alt="LinkedIn" style="filter: brightness(0);" /></div>
                                </div>
                                <div class="icon_button-wrapper is-second">
                                    <div class="icon-arrow w-embed"><img
                                            src="https://ik.imagekit.io/dr5fryhth/linkedin.png" width="100%"
                                            height="100%" alt="LinkedIn" style="filter: brightness(0);" /></div>
                                </div>
                            </div>
                        </a>
                        <div class="team_image-wrapper"><img src="https://ik.imagekit.io/dr5fryhth/freddie"
                                loading="lazy"
                                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                                data-wipe-image="" alt="" sizes="100vw" class="team-image" /></div>
                        <div class="team_name-wrapper">
                            <div data-wipe-heading="" class="heading_about-page_cards text-color-clay">
                                Fredrick Agyare</div>
                            <div data-wipe-text="" class="heading_about-page_cards text-color-earth">
                                IT Consultant</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none" class="team_modal_component" id="orgModalComponent">
        <div data-close-org-modal="" style="opacity:0"
            class="team_modal-background_overlay"></div>
        <div style="-webkit-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(100%, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
            class="team_modal-content_wrapper org_modal-content_wrapper">
            <div class="team_modal-colletion_list_wrapper w-dyn-list">
                <div role="list" class="team_modal-collection_list w-dyn-items">
                    <div data-org-modal-target="kofi-datsa" role="listitem"
                        class="team_modal-collection_item w-dyn-item">
                        <div class="team_modal-content_wrapper_inner org_modal-content_wrapper_inner">
                            <div class="team_modal-image_wrapper org_modal-image_wrapper">
                                <a data-close-org-modal="" href="#"
                                    class="team-modal_close-button org-modal_close-button w-inline-block">
                                    <div class="icon-button">
                                        <div class="icon_button-wrapper is-first">
                                            <div class="icon-arrow w-embed"><svg width="100%" height="100%"
                                                    viewBox="0 0 17 10" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                        </div>
                                        <div class="icon_button-wrapper is-second">
                                            <div class="icon-arrow w-embed"><svg width="100%" height="100%"
                                                    viewBox="0 0 17 10" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M10.7402 0.758789C11.1101 1.43055 11.6506 1.99534 12.335 2.67969L12.3369 2.68066C12.563 2.90815 12.7969 3.12518 13.0391 3.32129L13.2979 3.52148C13.5554 3.71189 13.8112 3.87433 14.0771 4.00781L14.0908 4.01465C14.1127 4.0265 14.1327 4.03626 14.1494 4.04297L14.1738 4.05371C14.8406 4.36321 15.5323 4.46164 16.3486 4.48926L16.6221 4.49805L16.8135 4.49219V4.50488L16.8486 4.50684L16.8311 4.99805L16.8496 5.49121L16.8145 5.49219V5.50586L16.6299 5.49902L16.3496 5.50977C15.5318 5.53888 14.8415 5.6347 14.1758 5.94629L14.1494 5.95801C14.1326 5.96472 14.1128 5.97443 14.0908 5.98633L14.0742 5.99512C13.7223 6.16906 13.388 6.39803 13.04 6.67871C12.7966 6.87576 12.5613 7.09202 12.335 7.31836C11.6504 8.00447 11.1101 8.56842 10.7402 9.24023L10.499 9.67773L9.62305 9.19629L9.86426 8.75781C10.2003 8.14756 10.6449 7.6253 11.1309 7.11719L11.6279 6.61133C11.8735 6.36578 12.1346 6.12418 12.4111 5.90039H12.4121C12.5856 5.76046 12.7623 5.62776 12.9443 5.50391H0.5V4.50391H12.9561C12.8708 4.44617 12.7863 4.38669 12.7031 4.3252L12.4131 4.10156L12.4111 4.10059C12.1342 3.87643 11.873 3.63336 11.6279 3.38672L11.1309 2.88184C10.6449 2.37432 10.2003 1.85144 9.86426 1.24121L9.62305 0.803711L10.499 0.321289L10.7402 0.758789Z"
                                                        fill="currentColor"></path>
                                                </svg></div>
                                        </div>
                                    </div>
                                </a><img
                                    src="https://ik.imagekit.io/dr5fryhth/creep.jpeg"
                                    loading="lazy" alt="" sizes="100vw" class="team_modal-image org_modal-image" />
                            </div>
                            <div class="team_modal-text_content_wrapper org_modal-text_content_wrapper">
                                <div class="team_modal-lines_component">
                                    <div class="section_break-tile_wrapper">
                                        <div class="section_break-tile"></div>
                                        <div class="section_break-tile one"></div>
                                    </div>
                                    <div class="section_break-tile_wrapper">
                                        <div class="section_break-tile two"></div>
                                        <div class="section_break-tile"></div>
                                    </div>
                                    <div class="section_break-tile_wrapper">
                                        <div class="section_break-tile"></div>
                                        <div class="section_break-tile three"></div>
                                    </div>
                                    <div class="section_break-tile_wrapper">
                                        <div class="section_break-tile four"></div>
                                        <div class="section_break-tile"></div>
                                    </div>
                                </div>
                                <div class="team_name-wrapper">
                                    <div class="heading-team-modal text-color-clay">Paul Kofi Datsa</div>
                                    <div class="heading-team-modal text-color-earth">Managing Director, Competition &amp; Markets Center</div>
                                </div>
                                <div class="padding-bottom padding-small">
                                    <div class="body-medium text-indent text-color-clay w-richtext">
                                        <p>Kofi has over three decades of senior leadership experience in both private and public entities from telecommunications, marketing research, sectoral regulations and consulting. He was the Director of Regulatory Administration at the National Communications Authority (NCA) for ten (10) years until he retired in May 2025. He served as an adjunct lecturer at the Ghana Telecommunications University College where he taught Telecoms Policy and Regulations at the graduate school for thirteen years and in the past reviewed articles for the Emerald.<br><br>
                                            At the NCA, he supervised regulatory functions such as market regulation, licensing, standards &amp; conformance, quality of service monitoring among others. Some of the key regulatory works he supervised while at the NCA includes the setting of Wholesale Interconnect Rates (WIR), review and update of Tower Installation and Maintenance Guidelines for the telecommunications industry, Significant Market Power study in conjunction with Analysis Mason, the merger of Airtel Ghana and TiGo Ghana, acquisition of majority shares in Ghana Telecommunications Company Limited by Telecel. Kofi also led the team that worked with KPMG Ghana to successfully execute the first spectrum auction in the telecommunication industry in Ghana.<br><br>
                                            Prior to public service, Kofi worked at a number of private entities like Research International Ghana, Africa Online Ghana and DiscoveryTel Ghana. At Research International, he managed all ad hoc international research and continuous marketing research jobs for entities like Coca Cola International, British Broadcasting Corporation, Shell International, Unilever Ghana and Guinness Ghana to mention a few. As the General Manager of DiscoveryTel Ghana, he worked with the team to successfully implement the first 4G Wireless Network in Ghana using WiMAX 16e technology.<br><br>
                                            He currently serves on the Board of Safety Insurance Brokers Limited as Board Chairman and People&rsquo;s Pension Trust as a member of the Board. Apart from managing the Competition &amp; Markets Center, he consults for a number of companies.<br><br>
                                            Kofi has a number of post graduate qualifications; a Master&rsquo;s degree in Communications Management (MCM) from the University of Strathclyde Management School and an LL.M in Information Technology and Telecommunications Law from the same University. Additionally, he holds an LL.M in Competition Law and Economics from the Brussels School of Competition/Li&egrave;ge. He has post graduate diplomas from King&rsquo;s College; one in EU Competition Law and the other in Economics for Competition Law.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var orgSection = document.getElementById('organizer-section');
            if (!orgSection) return;

            var modalComponent = orgSection.querySelector('#orgModalComponent');
            var modalPanel = modalComponent ? modalComponent.querySelector('.org_modal-content_wrapper') : null;
            var modalOverlay = modalComponent ? modalComponent.querySelector('.team_modal-background_overlay') : null;
            var modalTargets = orgSection.querySelectorAll('[data-org-modal-target]');
            var modalTriggers = orgSection.querySelectorAll('[data-org-modal-trigger]');

            if (!modalComponent || !modalTargets.length || !modalTriggers.length) return;

            var lockedScrollY = 0;
            var isOpen = false;
            var closeTimer = null;
            var CLOSE_ANIMATION_MS = 320;

            function lockScroll() {
                lockedScrollY = window.pageYOffset || document.documentElement.scrollTop || 0;
                document.body.style.top = '-' + lockedScrollY + 'px';
                document.body.style.position = 'fixed';
                document.body.style.width = '100%';
                document.body.style.overflow = 'hidden';
            }

            function unlockScroll() {
                document.body.style.removeProperty('top');
                document.body.style.removeProperty('position');
                document.body.style.removeProperty('width');
                document.body.style.removeProperty('overflow');
                window.scrollTo(0, lockedScrollY);
            }

            if (modalOverlay) {
                modalOverlay.style.transition = 'opacity 240ms ease';
                modalOverlay.style.opacity = '0';
            }
            if (modalPanel) {
                modalPanel.style.transition = 'transform 320ms cubic-bezier(0.22, 1, 0.36, 1), opacity 240ms ease';
                modalPanel.style.transform = 'translate3d(100%, 0, 0)';
                modalPanel.style.opacity = '0';
                modalPanel.style.willChange = 'transform, opacity';
            }
            modalComponent.style.display = 'none';
            modalComponent.style.pointerEvents = 'none';

            function closeModal() {
                if (!isOpen) return;
                isOpen = false;
                if (modalOverlay) modalOverlay.style.opacity = '0';
                if (modalPanel) {
                    modalPanel.style.transform = 'translate3d(100%, 0, 0)';
                    modalPanel.style.opacity = '0';
                }
                if (closeTimer) clearTimeout(closeTimer);
                closeTimer = setTimeout(function () {
                    if (isOpen) return;
                    modalTargets.forEach(function (target) { target.style.display = 'none'; });
                    modalComponent.style.display = 'none';
                    modalComponent.style.pointerEvents = 'none';
                    unlockScroll();
                }, CLOSE_ANIMATION_MS);
            }

            function openModal(modalId) {
                var target = orgSection.querySelector("[data-org-modal-target='" + modalId + "']");
                if (!target) return;
                if (closeTimer) clearTimeout(closeTimer);
                modalTargets.forEach(function (item) { item.style.display = 'none'; });
                target.style.display = 'block';
                modalComponent.style.display = 'block';
                modalComponent.style.pointerEvents = 'auto';
                if (!isOpen) lockScroll();
                isOpen = true;
                requestAnimationFrame(function () {
                    if (modalOverlay) modalOverlay.style.opacity = '1';
                    if (modalPanel) {
                        modalPanel.style.transform = 'translate3d(0, 0, 0)';
                        modalPanel.style.opacity = '1';
                    }
                });
            }

            modalTriggers.forEach(function (trigger) {
                trigger.addEventListener('click', function (event) {
                    event.preventDefault();
                    var modalId = trigger.getAttribute('data-org-modal-trigger');
                    openModal(modalId);
                });
            });

            orgSection.querySelectorAll('[data-close-org-modal]').forEach(function (closeTrigger) {
                closeTrigger.addEventListener('click', function (event) {
                    event.preventDefault();
                    closeModal();
                });
            });

            document.addEventListener('keydown', function (event) {
                if (event.key === 'Escape' && isOpen) closeModal();
            });
        });
    </script>
</section>