<section id="skills" color="bg" class="section skills">
            <div class="w-layout-blockcontainer main-container w-container">
                <div class="headline-skills">
                    <div class="label">Services</div>
                    <div class="heading-skills">
                        <div class="heading-large">We don’t just play around</div>
                    </div>
                </div>
                <div class="services">
                    <div class="tabs-wrap">
                        <div class="tab-btn">
                            <div class="tab-inner">
                                <div class="label">Boopity</div>
                            </div>
                            <div class="tab-highlight"></div>
                        </div>
                        <div class="tab-btn">
                            <div class="tab-inner">
                                <div class="label">shabooya</div>
                            </div>
                        </div>
                        <div class="tab-btn">
                            <div class="tab-inner">
                                <div class="label">Whoop</div>
                            </div>
                        </div>
                    </div>
                    <div class="panels-outer">
                        <div class="panels-track">
                            <div class="panel">
                                <div class="panel-content">
                                    <div class="panel-inner">
                                        <div class="text-scroll-right">Popcorn<br/>Strategy</div>
                                        <div class="label">They play, but the game is serious. No one knows the rules — and that’s the fun.</div>
                                    </div>
                                    <div class="absolute-video">
                                        <div data-poster-url="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ae01ac7e444025daa6698_9303654-hd_2048_1080_25fps-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ae01ac7e444025daa6698_9303654-hd_2048_1080_25fps-transcode.mp4,https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ae01ac7e444025daa6698_9303654-hd_2048_1080_25fps-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-services w-background-video w-background-video-atom"><video id="0f47a317-efc1-6dba-3a82-eb000a394fe4-video" autoplay="" loop="" style="background-image:url(&#34;https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ae01ac7e444025daa6698_9303654-hd_2048_1080_25fps-poster-00001.jpg&#34;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ae01ac7e444025daa6698_9303654-hd_2048_1080_25fps-transcode.mp4" data-wf-ignore="true"/><source src="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ae01ac7e444025daa6698_9303654-hd_2048_1080_25fps-transcode.webm" data-wf-ignore="true"/></video></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-content">
                                    <div class="panel-inner">
                                        <div class="text-scroll-right">Direction<br/>Finding</div>
                                        <div class="label">They follow trails that weren’t there before. Sometimes they just invent the terrain.</div>
                                    </div>
                                    <div class="absolute-video">
                                        <div data-poster-url="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685eb98a0fb26bb17a5d0230_9292894-uhd_4096_2160_25fps-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685eb98a0fb26bb17a5d0230_9292894-uhd_4096_2160_25fps-transcode.mp4,https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685eb98a0fb26bb17a5d0230_9292894-uhd_4096_2160_25fps-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-services w-background-video w-background-video-atom"><video id="e2ecb1b1-d003-c1b4-c38a-7735527f65b2-video" autoplay="" loop="" style="background-image:url(&#34;https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685eb98a0fb26bb17a5d0230_9292894-uhd_4096_2160_25fps-poster-00001.jpg&#34;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685eb98a0fb26bb17a5d0230_9292894-uhd_4096_2160_25fps-transcode.mp4" data-wf-ignore="true"/><source src="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685eb98a0fb26bb17a5d0230_9292894-uhd_4096_2160_25fps-transcode.webm" data-wf-ignore="true"/></video></div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-content">
                                    <div class="panel-inner">
                                        <div class="text-scroll-right">Detail
                                            <br/>Patrol</div>
                                        <div class="label">They zoom in until it blinks. Every leaf has something to say.</div>
                                    </div>
                                    <div class="absolute-video">
                                        <div data-poster-url="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ebb7a1bc7c37b5525e4fe_9291174-uhd_4096_2160_25fps%20%281%29-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ebb7a1bc7c37b5525e4fe_9291174-uhd_4096_2160_25fps%20%281%29-transcode.mp4,https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ebb7a1bc7c37b5525e4fe_9291174-uhd_4096_2160_25fps%20%281%29-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-services w-background-video w-background-video-atom"><video id="c52e4d38-4df7-5418-61a3-9cfcea925f1c-video" autoplay="" loop="" style="background-image:url(&#34;https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ebb7a1bc7c37b5525e4fe_9291174-uhd_4096_2160_25fps%20%281%29-poster-00001.jpg&#34;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ebb7a1bc7c37b5525e4fe_9291174-uhd_4096_2160_25fps%20%281%29-transcode.mp4" data-wf-ignore="true"/><source src="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685ebb7a1bc7c37b5525e4fe_9291174-uhd_4096_2160_25fps%20%281%29-transcode.webm" data-wf-ignore="true"/></video></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>