<div class="section_break-component<%= typeof modifierClass !== 'undefined' && modifierClass ? ' ' + modifierClass : '' %>">
    <div class="section_break-tile_wrapper">
        <div class="section_break-tile"></div>
        <div id="greyBox" class="section_break-tile one"></div>
    </div>
    <div class="section_break-tile_wrapper">
        <div id="seafoamBox" class="section_break-tile two"></div>
        <div class="section_break-tile"></div>
    </div>
    <div class="section_break-tile_wrapper">
        <div class="section_break-tile"></div>
        <div id="popBox" class="section_break-tile three"></div>
    </div>
    <div class="section_break-tile_wrapper">
        <div id="clayBox" class="section_break-tile four"></div>
        <div class="section_break-tile"></div>
    </div>
</div>
