<section id="hero" color="bg" class="section hero-section">
        <div class="video-hero"><img class="hero-background-image" src="https://ik.imagekit.io/dr5fryhth/Screenshots/Screenshot%202026-04-10%20110118.png?updatedAt=1775838071060&tr=q-50" alt="" decoding="async" fetchpriority="high" /><div class="hero-background-overlay" aria-hidden="true"></div>
            <div class="w-layout-blockcontainer main-container w-container">
                <div class="master-hero-section">
                    <div class="logo-wrap-hero"><div class="text-h2 logo-hero-text">CMC<br/>Law & Policy<br/>Seminar™</div></div>
                    <div class="bottom-tile-hero">
                        <div class="byq-logo">
                            <div class="icon-sparkle w-embed"><svg width="100%" height="100%" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C8.41015 2 5.5 4.91015 5.5 8.5C5.5 13.75 12 22 12 22C12 22 18.5 13.75 18.5 8.5C18.5 4.91015 15.5899 2 12 2ZM12 11C13.3807 11 14.5 9.88071 14.5 8.5C14.5 7.11929 13.3807 6 12 6C10.6193 6 9.5 7.11929 9.5 8.5C9.5 9.88071 10.6193 11 12 11Z"></path></svg></div>
                            <div class="label">Accra, GH</div>
                        </div>
                        <div class="text-wrap-hero-middle">
                            <div class="label hero-animated">Laying a Sound Foundation for a New Era.</div>
                        </div>
                        <div class="right-hero-year">
                            <div class="label">2026</div>
                            <div class="icon-sparkle w-embed"><svg width="100%" height="100%" viewBox="0 0 12 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
<path d="M6 0L6.43481 0.795022C7.53602 2.8085 9.1915 4.46398 11.205 5.56519L12 6L11.205 6.43481C9.1915 7.53602 7.53602 9.1915 6.43481 11.205L6 12L5.56519 11.205C4.46398 9.1915 2.8085 7.53602 0.795022 6.43481L0 6L0.795022 5.56519C2.8085 4.46398 4.46398 2.8085 5.56519 0.795022L6 0Z" fill="currentColor"></path>
</svg></div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </section>