<section id="makes" color="bg" class="section makes">
            <div class="master-snap-sections">
                <div class="master-snap-section _1"><img src="https://ik.imagekit.io/dr5fryhth/Screenshots/Gemini_Generated_Image_yy5zkiyy5zkiyy5z.png?tr=q-50,w-1200" loading="lazy" decoding="async" sizes="100vw" alt="" class="image-cover"/>
                    <div class="snap-top-gradient">
                        <div class="text-wrap-snap">
                            <div class="label">field characters<br/>01 / 03</div>
                            <div text="mask" class="text-mask-snap">
                                <div text="snap-first" class="text-snap-large first-layer">The Quiet One</div>
                                <div text="snap-second" class="text-snap-large second-layer">The Loud One</div>
                            </div>
                        </div>
                    </div>
                    <div class="snap-bottom-gradient">
                        <div class="button-wrap-snap">
                            <div class="button-snap _1">
                                <div class="button-cirlce-wrap _1">
                                    <img class="button-circle _1" src="https://ik.imagekit.io/dr5fryhth/conference/create_logo_from_image_019d75ed-9ea3-7123-a3f6-a8fb2b2f41ed.svg?updatedAt=1775884388922" loading="lazy" decoding="async" alt="" />
                                </div>
                                <div class="button-hidden-text _1">
                                    <div class="label">BOOOOOOOOM</div>
                                </div>
                                <div class="button-visible-text _1">
                                    <div class="label">Make it fun</div>
                                </div>
                            </div>
                            <div class="label">He stood still… until the solo kicked in.</div>
                        </div>
                    </div><img src="https://ik.imagekit.io/dr5fryhth/speak?updatedAt=1775965054049&tr=q-70,w-800" loading="lazy" decoding="async" sizes="100vw" alt="" class="kid-visible _1"/>
                </div>
                <div class="master-snap-section _2"><img src="https://ik.imagekit.io/dr5fryhth/Screenshots/Gemini_Generated_Image_yy5zkiyy5zkiyy5z.png?tr=q-50,w-1200" loading="lazy" decoding="async" sizes="100vw" alt="" class="image-cover"/>
                    <div class="snap-top-gradient">
                        <div class="text-wrap-snap">
                            <div class="label">field characters<br/>02 / 03</div>
                            <div text="mask" class="text-mask-snap">
                                <div text="snap-first-2" class="text-snap-large first-layer">The Watcher</div>
                                <div text="snap-second-2" class="text-snap-large second-layer">The Snapper</div>
                            </div>
                        </div>
                    </div>
                    <div class="snap-bottom-gradient">
                        <div class="button-wrap-snap">
                            <div class="button-snap _2">
                                <div class="button-cirlce-wrap _2">
                                    <img class="button-circle _2" src="https://ik.imagekit.io/dr5fryhth/conference/create_logo_from_image_019d75ed-9ea3-7123-a3f6-a8fb2b2f41ed.svg?updatedAt=1775884388922" loading="lazy" decoding="async" alt="" />
                                </div>
                                <div class="button-hidden-text _2">
                                    <div class="label">BOOOOOOOOM</div>
                                </div>
                                <div class="button-visible-text _2">
                                    <div class="label">Make it fun</div>
                                </div>
                            </div>
                            <div class="label">Freezes moments no one else notices.</div>
                        </div>
                    </div><img src="https://ik.imagekit.io/dr5fryhth/sirspeaker?tr=q-70,w-800" loading="lazy" decoding="async" sizes="100vw" alt="" class="kid-visible _2"/>
                </div>
                <div class="master-snap-section _3"><img src="https://ik.imagekit.io/dr5fryhth/Screenshots/Gemini_Generated_Image_yy5zkiyy5zkiyy5z.png?tr=q-50,w-1200" loading="lazy" decoding="async" sizes="100vw" alt="" class="image-cover"/>
                    <div class="snap-top-gradient">
                        <div class="text-wrap-snap">
                            <div class="label">field characters<br/>03 / 03</div>
                            <div text="mask" class="text-mask-snap">
                                <div text="snap-first-3" class="text-snap-large first-layer">The Sellers</div>
                                <div text="snap-second-3" class="text-snap-large second-layer">The Eaters</div>
                            </div>
                        </div>
                    </div>
                    <div class="snap-bottom-gradient">
                        <div class="button-wrap-snap">
                            <div class="button-snap _3">
                                <div class="button-cirlce-wrap _3">
                                    <img class="button-circle _3" src="https://ik.imagekit.io/dr5fryhth/conference/create_logo_from_image_019d75ed-9ea3-7123-a3f6-a8fb2b2f41ed.svg?updatedAt=1775884388922" loading="lazy" decoding="async" alt="" />
                                </div>
                                <div class="button-hidden-text _3">
                                    <div class="label">BOOOOOOOOM</div>
                                </div>
                                <div class="button-visible-text _3">
                                    <div class="label">Make it fun</div>
                                </div>
                            </div>
                            <div class="label">Started with a business plan. Ended with crumbs</div>
                        </div>
                    </div><img src="https://ik.imagekit.io/dr5fryhth/datsa?tr=q-70,w-800" loading="lazy" decoding="async" sizes="100vw" alt="" class="kid-visible _3"/>
                </div>
            </div>
        </section>  