<section id="story" color="bg" class="section story">
        <div class="w-layout-blockcontainer main-container w-container">
            <div class="headline-story">
                <div class="left-text-story">
                    <div class="text-h2">The event has concluded, but the momentum hasn’t.</div>
                </div>
                <div class="right-text-story">
                    <div class="text-scroll-right"><a href="#footer">Sign up</a> to hear about our next gathering and be part of what’s coming next.</div>
                </div>
            </div>
            <div class="story-number-grid">
                <div id="w-node-_6061eb00-17b4-b993-6118-d9a69bb4580b-c80cb5a6" class="story-grid-item">
                    <div class="number-animate">
                        <div class="text-number">5</div>
                    </div>
                    <div class="text-wrap-story-item">
                        <div class="title-number-item">Speakers Involved</div>
                        <div class="label">all engaged, strong voices heard</div>
                    </div>
                </div>
                <div class="story-grid-item _2">
                    <div class="number-animate">
                        <div class="text-number">102</div>
                    </div>
                    <div class="text-wrap-story-item">
                        <div class="title-number-item">Attendees</div>
                        <div class="label">Across competition law, policy, and industry</div>
                    </div>
                </div>
                <div class="story-grid-item _3">
                    <div class="number-animate">
                        <div class="text-number">9</div>
                    </div>
                    <div class="text-wrap-story-item">
                        <div class="title-number-item">Law firms</div>
                        <div class="label">Partners and counsel represented in the programme</div>
                    </div>
                </div>
                <div class="story-grid-item _4">
                    <div class="number-animate">
                        <div class="text-number">100%</div>
                    </div>
                    <div class="text-wrap-story-item">
                        <div class="title-number-item">Satisfaction</div>
                        <div class="label">100% satisfaction across attendees</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-layout-blockcontainer main-container mobile-no-padding w-container">
            <div data-poster-url="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685abb3ae5bcd2b01ac8a4cd_9291170-uhd_4096_2160_25fps%20%281%29-poster-00001.jpg" data-video-urls="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685abb3ae5bcd2b01ac8a4cd_9291170-uhd_4096_2160_25fps%20%281%29-transcode.mp4,https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685abb3ae5bcd2b01ac8a4cd_9291170-uhd_4096_2160_25fps%20%281%29-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="video-story w-background-video w-background-video-atom"><video id="14aaa7d5-60c4-9eb1-0995-f69f0d6a05c2-video" autoplay="" loop="" style="background-image:url(&#34;https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685abb3ae5bcd2b01ac8a4cd_9291170-uhd_4096_2160_25fps%20%281%29-poster-00001.jpg&#34;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover"><source src="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685abb3ae5bcd2b01ac8a4cd_9291170-uhd_4096_2160_25fps%20%281%29-transcode.mp4" data-wf-ignore="true"/><source src="https://cdn.prod.website-files.com/6851958ef29f498fc80cb5c1%2F685abb3ae5bcd2b01ac8a4cd_9291170-uhd_4096_2160_25fps%20%281%29-transcode.webm" data-wf-ignore="true"/></video></div>
        </div>
    </section>