node_modules
backend/venv
backend/__pycache__
backend/*.db
__pycache__
*.pyc
.env

# React Out
frontend-final/dist
frontend-final/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
AW.md