
                    @media (min-width: 1921px) {
                        .main-wrapper {
                            border-left: 1px solid #e6dfda;
                            border-right: 1px solid #e6dfda;
                        }
                    }
                