
.yir24_hero-component {opacity: 0%;}
.yir24_video {opacity: 0%;}
html {
  --plyr-color-main: #1458e4;
  --plyr-tab-focus-color: transparent;
  --plyr-control-icon-size: 1.25rem;
  --plyr-range-thumb-height: 0px;
  --plyr-range-track-height: 0.65rem;
}
.plyr__control {
padding-bottom: 0.5rem;
padding-top: 0.5rem;
}
.plyr__control--overlaid {
  color: black;
}
.plyr__volume {
  width: auto;
  min-width: auto;
  max-width: auto;
}

.plyr {
  width: 100%;
  height: 100%;

}
.plyr video {
  object-fit: cover;
}

.contain-video video {
  object-fit: contain;
  
}

.hide-cover .plyr_cover {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-out ;
}

