
                    html {
                        scrollbar-width: thin;
                        scrollbar-color: #000 #f1f1f1;
                        background-color: black;
                        overscroll-behavior: none;
                        /* Disables the bounce effect for overscroll */
                    }

                    img {
                        overflow: clip !important
                    }

                    h1,
                    h2,
                    h3,
                    h4,
                    h5,
                    h6 {
                        text-wrap: balance;
                    }

                    textarea {
                        field-sizing: content;
                    }

                    ::selection {
                        color: white;
                        background: var(--_primitives---colors--pop);
                    }

                    ::-moz-selection {
                        /* Code for Firefox */
                        color: white;
                        background: var(--_primitives---colors--pop);
                    }

                    .padding-global {
                        pointer-events: none !important;
                        /* Disable pointer events on this element */
                    }

                    .image-overlay-layer {
                        pointer-events: none !important;
                        /* Disable pointer events on this element */
                    }

                    .padding-global * {
                        pointer-events: auto !important;
                        /* Re-enable pointer events for all children */
                    }

                    .relative {
                        z-index: 100;
                    }

                    .w-form-formradioinput--inputType-custom {
                        border-radius: unset !important;
                    }

                    .w-form-formradioinput--inputType-custom.w--redirected-checked {
                        border: unset !important;
                    }

                    .line {
                        display: inline;
                    }

                    .page-wrapper,
                    .main-wrapper {
                        /* prevent iOS from breaking position: fixed */
                        transform: none !important;
                        perspective: none !important;
                        filter: none !important;
                        contain: none !important;
                        overflow: visible !important;
                    }

                    /*
    input {
    border: none;
    outline: none;
    }

    .w-input, .w-select {
    border-left: none;
    border-right: none;
    border-top: none;
    }
    */
                