<section class="yir24_section-hero">
    <div class="padding-global">
        <div class="container-large">
            <div data-w-id="65461545-1fbd-0368-6991-7424d7cde930" class="yir24_hero-component">
                <div class="overflow-hidden">
                    <div class="text-size-medium text-weight-bold">WELCOME TO</div>
                </div>
                <h1 class="yir24_heading-wrapper">
                    <div id="w-node-_60088b53-95d0-9011-d821-060d793df44a-f946607f" class="overflow-hidden">
                        <div class="yir24_heading-large"><span data-w-id="d7f3fff8-4783-e269-b6b0-2f1765da7cc3"
                                class="yir24_span1">0</span><span data-w-id="c265738c-596d-93be-f99c-24a34a607f71"
                                class="yir24_span2">0</span><span data-w-id="a48acf5c-dd0f-1454-65fb-ba7cdb7209d4"
                                class="yir24_span3">0</span>
                            <!-- <span data-w-id="627f4865-40ae-8d1b-4e98-ae6bdd60b896"
                                class="yir24_span4">0</span> -->
                        </div>
                    </div>

                    <div id="w-node-_355fcf0f-15cd-99aa-3192-57c612984ee0-f946607f" class="overflow-hidden"
                        style="padding-bottom: 0.08em;">
                        <div data-w-id="407eea86-fe70-4f00-df44-497e03389450" class="yir24_heading-medium"
                            style="line-height: 1.08;">days until</div>
                    </div>
                </h1>
                <div class="max-width-small">
                    <div class="overflow-hidden">
                        <div class="text-size-medium text-weight-bold">REFLECTING ON JOURNEY</div>
                    </div>
                    <div class="spacer-xxsmall"></div>
                    <div class="overflow-hidden">
                        <div data-w-id="879fd289-e16d-0d2d-fc4f-003163ddc324" class="text-size-medium">
                            EMBRACING THE LESSONS, AND</div>
                    </div>
                    <div class="overflow-hidden">
                        <div data-w-id="b3e35740-ddf6-f17a-8e7f-3de4db8d6c02" class="text-size-medium">
                            LOOKING AHEAD.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="35598f77-32c4-603e-41ba-d5763d4e02e8" class="yir24_video-component">
        <div class="yir24_video-wrapper">
            <div class="yir24_video-bg"><img
                    src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d053bdd757e95ee898e07_Group.svg"
                    loading="lazy" alt="" class="yir24_video-bg-img" /></div>
            <div class="padding-global">
                <div class="container-large">
                    <div class="yir24_video">
                        <div class="plyr_component">
                            <div bind="bb54083e-2df4-5c3c-f1de-c4f22f0f10f1" class="plyr_embed w-embed">
                                <div id="player"
                                    style="width: 100%; height:100%; display: flex; align-items: center; justify-content: center; "
                                    class="plyr_video" data-plyr-provider="youtube" data-plyr-embed-id="x4kvKtZ87Yk?">
                                </div>
                            </div>
                            <div class="plyr_cover">
                                <div class="plyr_cover-img w-embed w-iframe"><iframe width="100%" height="100%"
                                        src="https://www.youtube.com/embed/x4kvKtZ87Yk?autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=x4kvKtZ87Yk&amp;controls=0"
                                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                                </div>
                                <div class="plyr_cover-button">
                                    <div class="home-lightbox-bg">
                                        <div class="text-size-medium text-weight-medium lightbox-text">
                                            PLAY REEL</div>
                                    </div>
                                </div>
                            </div>
                            <div class="plyr_pause-trigger"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="yir24_logo-marquee">
        <div class="spacer-medium background-color-yellow"></div>
        <section id="brands" class="yir24_testimonial-marquee-wrap">
            <div class="padding-vertical padding-medium">
                <div class="marquee-overflow-wrap">
                    <div class="marquee-wrap">
                        <div class="marquee-left"><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e029129746f75620b9e_well-advised.svg"
                                loading="lazy" alt="Well Advised logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e0177857450828f6405_seen.svg"
                                loading="lazy" alt="" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01a34a587bfbf1164c_thors-skyr.svg"
                                loading="lazy" alt="Thor&#39;s Skyr logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01a34a587bfbf1164f_som.svg"
                                loading="lazy" alt="School of Motion logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01c91f538cf9d70e15_launchlabs.svg"
                                loading="lazy" alt="Launchlabs logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01823113a7193cc40f_logos.svg"
                                loading="lazy" alt="" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e02a5d96c55e02fd439_euri.svg"
                                loading="lazy" alt="Euri Lighting" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e021fd6df60eb1f85e4_Frame%201000003560.svg"
                                loading="lazy" alt="Lota" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e0167bf6d56276971d7_adventure.svg"
                                loading="lazy" alt="AdVenture logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01e404f4a1b4d5b443_8020.svg"
                                loading="lazy" alt="8020 logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01ec5f86c32d9eb93f_dbtlabs.svg"
                                loading="lazy" alt="DBT Labs logo" class="yir24_marquee-img" /></div>
                        <div class="marquee-left"><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e029129746f75620b9e_well-advised.svg"
                                loading="lazy" alt="Well Advised logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e0177857450828f6405_seen.svg"
                                loading="lazy" alt="" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01a34a587bfbf1164c_thors-skyr.svg"
                                loading="lazy" alt="Thor&#39;s Skyr logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01a34a587bfbf1164f_som.svg"
                                loading="lazy" alt="School of Motion logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01c91f538cf9d70e15_launchlabs.svg"
                                loading="lazy" alt="Launchlabs logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01823113a7193cc40f_logos.svg"
                                loading="lazy" alt="" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e02a5d96c55e02fd439_euri.svg"
                                loading="lazy" alt="Euri Lighting" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e021fd6df60eb1f85e4_Frame%201000003560.svg"
                                loading="lazy" alt="Lota" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e0167bf6d56276971d7_adventure.svg"
                                loading="lazy" alt="AdVenture logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01e404f4a1b4d5b443_8020.svg"
                                loading="lazy" alt="8020 logo" class="yir24_marquee-img" /><img
                                src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d0e01ec5f86c32d9eb93f_dbtlabs.svg"
                                loading="lazy" alt="DBT Labs logo" class="yir24_marquee-img" /></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<script>
    (function () {
        const targetUtc = Date.UTC(2026, 2, 25);
        const smallScreenQuery = window.matchMedia('(max-width: 467px) and (max-height: 936px)');
        const spanEls = [
            document.querySelector('.yir24_span1'),
            document.querySelector('.yir24_span2'),
            document.querySelector('.yir24_span3')
        ];

        function applyLeadingZeroVisibility(digits) {
            const firstSpan = spanEls[0];
            if (!firstSpan) return;
            const shouldHide = smallScreenQuery.matches && digits[0] === '0';
            firstSpan.style.display = shouldHide ? 'none' : '';
        }

        function renderCountdown() {
            const now = new Date();
            const todayUtc = Date.UTC(now.getFullYear(), now.getMonth(), now.getDate());
            let daysRemaining = Math.floor((targetUtc - todayUtc) / 86400000) + 1; // Inclusive of today
            if (daysRemaining < 0) daysRemaining = 0;

            const digits = String(daysRemaining).padStart(3, '0').slice(-3);
            spanEls.forEach((el, index) => {
                if (el) el.textContent = digits[index];
            });
            applyLeadingZeroVisibility(digits);
        }

        renderCountdown();

        const now = new Date();
        const nextMidnight = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 1);
        const msUntilMidnight = nextMidnight.getTime() - now.getTime();
        setTimeout(function () {
            renderCountdown();
            setInterval(renderCountdown, 86400000);
        }, msUntilMidnight);

        if (smallScreenQuery.addEventListener) {
            smallScreenQuery.addEventListener('change', renderCountdown);
        } else if (smallScreenQuery.addListener) {
            smallScreenQuery.addListener(renderCountdown);
        }
    })();
</script>