		<section class="yir24_section-highlights">
			<div class="w-embed w-script"><script src="inline/script-6.js"></script></div>
			<div class="padding-section-huge">
				<div data-w-id="e490801c-0eed-c261-3a74-917de017baba" class="yir24_highlights-marquee-wrap">
					<div class="yir24_marquee-one">
						<div class="yir24_heading-style-marquee hide-tablet"> - RANDOM STATS OF THE YEAR</div>
						<div class="yir24_heading-style-marquee"> - RANDOM STATS OF THE YEAR</div>
						<h2 class="yir24_heading-style-marquee"> - RANDOM STATS OF THE YEAR</h2>
					</div>
					<div class="yir24_marquee-two">
						<div class="yir24_heading-style-marquee hide-tablet"> - RANDOM STATS OF THE YEAR</div>
						<div class="yir24_heading-style-marquee"> - RANDOM STATS OF THE YEAR</div>
						<div class="yir24_heading-style-marquee"> - RANDOM STATS OF THE YEAR</div>
					</div>
				</div>
			</div>
			<div class="padding-global">
				<div class="container-large">
					<div class="hide">
						<div class="float"></div>
						<div class="float2"></div>
						<div class="float3"></div>
						<div data-w-id="ff9345de-913d-b7af-585d-929b82031b18" class="loop-spin"></div>
						<div class="loop-spin-reverse"></div>
					</div>
					<div class="yir24_stats-grid-one">
						<div id="w-node-f9de22ec-b7ff-14bb-fc9b-0106b73935cd-f946607f" data-w-id="f9de22ec-b7ff-14bb-fc9b-0106b73935cd" class="yir24_stats-1 pop-up">
							<div class="yir24_stats-1-bg _1"></div>
							<div class="yir24_stats-1-bg _2"></div>
							<div class="yir24_stats-1-bg _3"></div>
							<div class="yir24_stats-1-bg _4"></div>
							<div class="yir24_stats-circle background-color-yellow">
								<div class="padding-small">
									<div class="yir24_stats-text-large">30%</div>
									<div class="yir24_stats-text">REV GROWTH%</div>
								</div>
							</div>
						</div>
						<div id="w-node-f9de22ec-b7ff-14bb-fc9b-0106b73935d6-f946607f" class="yir24_stats-2">
							<div class="yir24_stats-group float2">
								<div class="yir24_stats_mini-group">
									<div class="yir24_stats-align-right">
										<div class="yir24_stats_50 pop-up-2"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d634e987847acec2c6834_Frame%201000003510.svg" loading="lazy" alt="" /></div>
									</div>
									<div class="yir24_stats-grid">
										<div class="yir24_stats-pill background-color-green pop-up-right">
											<div class="yir24_stats-text-smal">15+</div>
											<div class="yir24_stats-text-small">pitches won</div>
										</div>
										<div class="yir24_stats-circle-mini pop-up loop-spin"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e4b1223f3d11e24124e3b_Group%201000003547.svg" loading="lazy" alt="" /></div>
									</div>
								</div>
								<div id="w-node-f9de22ec-b7ff-14bb-fc9b-0106b73935e6-f946607f" class="yir24_stats-padding">
									<div class="yir24_stats-square background-color-pink">
										<div class="icon-1x1-medium"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d5fa2780021d133e2c4ef_Biporit.svg" loading="lazy" alt="" class="image-contain" /></div>
										<div class="yir24_stats-wrapper">
											<div class="yir24_stats-text-large">15+</div>
											<div class="yir24_stats-text">Brands worked with</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="yir24_stats-grid-two">
						<div class="yir24_stats-3 float3">
							<div class="yir24_stats-padding">
								<div class="yir24_stats-square background-color-green">
									<div class="yir24_stats-wrapper">
										<div class="yir24_stats-text-large">12+</div>
										<div class="yir24_stats-text">webflow sites</div>
									</div>
								</div>
								<div class="yir24_stats-grid is-reverse">
									<div class="yir24_stats-circle-mini pop-up"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d79e7214b541ee31a158b_Group%201000003506.svg" loading="lazy" alt="" /></div>
									<div id="w-node-_58ec1d36-a493-cf8b-d8d0-31c89a9ce7f8-f946607f" class="yir24_stats-pill background-color-purple pop-up-left">
										<div class="yir24_stats-text-smal">🚀</div>
										<div class="yir24_stats-text-small">most used emoji</div>
									</div>
								</div>
							</div>
							<div id="w-node-_42fdcaa5-e1ae-70f8-72df-17c8bae90024-f946607f" class="yir24_stats-align-left">
								<div class="yir24_stats_50 custom-align pop-up"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d634e0fd5ec2ae5b4fc5c_Frame%201000003513.svg" loading="lazy" alt="" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="yir24_svg-wrapper">
				<div data-w-id="ea479bbe-8e4d-4ad8-c155-1170bbb60fc2" data-is-ix2-target="1" class="yir24_lottie" data-animation-type="lottie" data-src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/67804088a5b80ab800054e2e_path1.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0" data-duration="0.9583333333333334"></div>
			</div>
			<div class="padding-global">
				<div class="container-large">
					<div class="yir24_stats-grid-one">
						<div id="w-node-be415101-0563-b1b9-e10c-98ebdef5a663-f946607f" class="yir24_stats-4">
							<div class="yir24_stats-group">
								<div id="w-node-be415101-0563-b1b9-e10c-98ebdef5a674-f946607f" data-w-id="be415101-0563-b1b9-e10c-98ebdef5a674" class="yir24_stats-semi-circle background-color-yellow">
									<div class="yir24_stats-wrapper">
										<div class="yir24_stats-text-medium">10+</div>
										<div class="yir24_stats-text-small">THOR WORRYING<br />ABOUT money</div>
									</div>
									<div class="yir24_stats-25"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e474c3f3309bd700258bd_Shapla.svg" loading="lazy" alt="" /></div>
								</div>
							</div>
						</div>
					</div>
					<div class="yir24_stats-grid-two">
						<div class="yir24_stats-5">
							<div class="yir24_stats-group-pills float3">
								<div class="yir24_stats-padding">
									<div class="yir24_stats-grid is-custom">
										<div class="yir24_stats-circle-mini">
											<div class="yir24_stats-circle pop-up loop-spin"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e47d639d51933361e11dc_Group%201000003543.svg" loading="lazy" width="Auto" height="Auto" alt="" class="image-contain" /></div>
										</div>
										<div class="yir24_stats-pill-large background-color-orange pop-up-left">
											<div class="yir24_stats-text-medium">200+</div>
											<div class="yir24_stats-text-small">LOOM’S<br />CREATED</div>
										</div>
									</div>
									<div class="yir24_stats-grid is-custom-2">
										<div class="yir24_stats-pill background-color-yellow pop-up-right">
											<div class="yir24_stats-text-smal">0</div>
											<div class="yir24_stats-text-small">cancelled projects</div>
										</div>
										<div class="wrapper hide-mobile-portrait pop-up-right"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e47d69e675e64f54fd485_Vector.svg" loading="lazy" width="Auto" height="Auto" alt="" /></div>
										<div class="yir24_stats-circle is-small pop-up loop-spin-reverse"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e47d72422c1b09fc2b0e1_Group%201000003544.svg" loading="lazy" width="Auto" height="Auto" alt="" /></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="yir24_stats-grid-one">
						<div id="w-node-dc161030-2eff-2f5f-a027-5bd4a85c00d2-f946607f" class="yir24_stats-6">
							<div class="yir24_stats-group is-left float2">
								<div class="yir24_stats-padding">
									<div class="yir24_stats-square background-color-mid-green">
										<div class="icon-1x1-medium"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d5fa2780021d133e2c4ef_Biporit.svg" loading="lazy" alt="" class="image-contain" /></div>
										<div class="yir24_stats-wrapper">
											<div class="yir24_stats-text-large">50+</div>
											<div class="yir24_stats-text">new figma files</div>
										</div>
									</div>
								</div>
								<div class="yir24_stats_mini-group">
									<div class="yir24_stats-align-right align-left">
										<div class="yir24_stats_50 pop-up-2"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d634ef70cb794a113a9fb_Frame%201000003515.svg" loading="lazy" alt="" /></div>
									</div>
									<div class="yir24_stats-grid is-reverse">
										<div class="yir24_stats-circle-mini pop-up loop-spin"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e5616fa5382a4750363c8_Group%201000003545.svg" loading="lazy" alt="" /></div>
										<div id="w-node-dc161030-2eff-2f5f-a027-5bd4a85c00d9-f946607f" class="yir24_stats-pill background-color-purple pop-up-left">
											<div class="yir24_stats-text-smal">100+</div>
											<div class="yir24_stats-text-small">calendly bookings</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="yir24_svg-wrapper">
				<div data-w-id="7457cf41-8607-4818-b3e0-44c9679f72ce" data-is-ix2-target="1" class="yir24_lottie" data-animation-type="lottie" data-src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/678044f6b35eadbbd0971b4b_path2.json" data-loop="0" data-direction="1" data-autoplay="0" data-renderer="svg" data-default-duration="0" data-duration="0.9583333333333334"></div>
			</div>
			<div class="padding-global">
				<div class="container-large">
					<div class="yir24_stats-grid-two">
						<div id="w-node-_1eb56eb8-e609-a165-59b0-ac5790fc8b83-f946607f" class="yir24_stats-7">
							<div class="yir24_stats-group is-semi-circle">
								<div id="w-node-b7866402-31fc-f4d5-02ae-8882a26fe015-f946607f" class="yir24_stats-semi-circle background-color-light-purple">
									<div class="yir24_stats-wrapper">
										<div class="yir24_stats-text-medium">2</div>
										<div class="yir24_stats-text-small">long-time clients<br />moved on</div>
									</div>
									<div class="yir24_stats-25"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e58c7b4b43ff50f056e23_Akash.svg" loading="lazy" alt="" /></div>
								</div>
							</div>
						</div>
					</div>
					<div class="yir24_stats-grid-one">
						<div id="w-node-_64c0a2b2-904b-6cea-4426-70fa6f018620-f946607f" class="yir24_stats-8 float3">
							<div class="yir24_stats-group-pills">
								<div class="yir24_stats-padding">
									<div class="yir24_stats-grid is-custom1">
										<div class="yir24_stats-circle-mini">
											<div class="yir24_stats-circle pop-up loop-spin-reverse"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e5927c4a5ec3b68e92f2d_Group%201000003543.svg" loading="lazy" width="Auto" height="Auto" alt="" class="image-contain" /></div>
										</div>
										<div class="yir24_stats-pill-large background-color-light-blue pop-up-left">
											<div class="yir24_stats-text-medium">100+</div>
											<div class="yir24_stats-text-small">ISSUES WITH<br />OPAL CAMERA</div>
										</div>
									</div>
									<div class="yir24_stats-grid is-right">
										<div class="yir24_stats-pill background-color-yellow pop-up-right">
											<div class="yir24_stats-text-smal">4+</div>
											<div class="yir24_stats-text-small">underestimated timelines</div>
										</div>
										<div class="wrapper hide-mobile-portrait pop-up"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677e590e230501d87e25d8be_Vector%20(4).svg" loading="lazy" width="Auto" height="Auto" alt="" /></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="yir24_stats-grid-two">
						<div id="w-node-_0df77fe9-14fe-cae0-8871-9f0abd5aefe0-f946607f" class="yir24_stats-9 float2">
							<div class="yir24_stats-3">
								<div class="yir24_stats-square background-color-purple">
									<div class="icon-1x1-medium"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d5fa2780021d133e2c4ef_Biporit.svg" loading="lazy" alt="" class="image-contain" /></div>
									<div class="yir24_stats-wrapper">
										<div class="yir24_stats-text-large">+1</div>
										<div class="yir24_stats-text">full time team members</div>
									</div>
								</div>
								<div class="yir24_stats-padding">
									<div class="yir24_stats_mini-group">
										<div class="yir24_stats-grid is-reverse">
											<div class="yir24_stats-circle-mini pop-up loop-spin"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/6780ef8671677981efb3326b_Group%201000003543%20(1).svg" loading="lazy" alt="" /></div>
											<div id="w-node-_0df77fe9-14fe-cae0-8871-9f0abd5aeff2-f946607f" class="yir24_stats-pill background-color-mid-green pop-up-left">
												<div class="yir24_stats-text-smal">2</div>
												<div class="yir24_stats-text-small">scope creeps</div>
											</div>
										</div>
										<div class="yir24_stats-align-left">
											<div class="yir24_stats_50 pop-up"><img src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677d634ed9c12931b56f6c9f_Frame%201000003513-1.svg" loading="lazy" alt="" /></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="spacer-xhuge"></div>
			<div class="code-embed w-embed"><link rel="stylesheet" href="inline/style-4.css" />
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
    <div class="inner">∗</div>
  </div>
  <div class="snowflake">
    <div class="inner">❋</div>
  </div>
  <div class="snowflake">
    <div class="inner">∗</div>
  </div>
  <div class="snowflake">
    <div class="inner">❋</div>
  </div>
  <div class="snowflake">
    <div class="inner">❋</div>
  </div>
  <div class="snowflake">
    <div class="inner">∗</div>
  </div>
  <div class="snowflake">
    <div class="inner">❋</div>
  </div>
  <div class="snowflake">
    <div class="inner">∗</div>
  </div>
  <div class="snowflake">
    <div class="inner">❋</div>
  </div>
  <div class="snowflake">
    <div class="inner">❋</div>
  </div>
  <div class="snowflake">
    <div class="inner">∗</div>
  </div>
  <div class="snowflake">
    <div class="inner">❋</div>
  </div>
</div></div>
		</section>
