				<section class="yir24_section-message">
					<div class="padding-global">
						<div class="yir24_message-card"><img
								src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/6785767b945b0c05117be416_card.avif"
								loading="lazy" alt="" class="yir24_message-card2" />
							<div class="yir24_message-lines">
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-line"></div>
								<div class="yir24_message-red"></div>
							</div>
							<div class="yir24_message-text-wrap">
								<p class="yir24_text-message">As Snowhouse Studio approaches its fifth anniversary, I’ve
									been reflecting on the incredible journey we’ve had—filled with growth, challenges,
									and meaningful moments. 2023 was a whirlwind, a year of hard lessons and tough
									decisions. By the end of it, we had to scale down our team and reset our direction.
									It was heavy, but necessary, and it set the stage for a more intentional and focused
									2024.</p>
								<p class="yir24_text-message">This past year was about finding our groove again. We
									embraced quality over quantity, rebuilt stronger client relationships, and
									celebrated steady, incremental growth. A highlight of 2024 was our collaboration
									with School of Motion, where we delivered a transformative website redesign that was
									both rewarding and fun.<br /></p>
								<p class="yir24_text-message">I’m deeply grateful to my team, our clients, and our
									partners for their trust, resilience, and belief in Snowhouse. As we look to 2025,
									we’re focused on deliberate goals: refreshing our brand, amplifying our voice, and
									continuing to grow sustainably.<br /></p>
								<p class="yir24_text-message">This Year in Review is an honest look at our journey so
									far—the wins, the lessons, and the vision for what’s ahead.<br /></p><a
									href="/insights/2024-in-review-with-a-glimpse-of-2023-a-personal-note-from-thor"
									target="_blank" class="button is-icon w-inline-block">
									<div>Read the full story</div>
									<div class="icon-1x1-small w-embed"><svg aria-hidden="true" fill="currentColor"
											role="img" viewBox="0 0 20 21" xmlns="http://www.w3.org/2000/svg">
											<title>Arrow Right</title>
											<polygon
												points="16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9">
											</polygon>
										</svg></div>
								</a>
							</div>
						</div>
						<div class="container-medium">
							<div data-w-id="ba3cabc7-4111-7aa8-4941-c1dbe57239c4" class="yir24_message-cta">
								<div class="spacer-xxhuge"></div>
								<div class="text-align-center">
									<h2 class="yir24_cta-heading">
										<div class="inline">MakE </div>
										<div class="yir24_cta-span">
											<div class="inline text-color-orange">2025</div>
											<div class="yir24_underline w-embed"><svg xmlns="http://www.w3.org/2000/svg"
													width="220" height="12" viewBox="0 0 220 12" fill="none">
													<path fill-rule="evenodd" clip-rule="evenodd"
														d="M93.4364 1.14924C83.1007 1.54308 72.8864 2.02734 62.9258 2.55676C48.8254 3.30569 34.7305 4.08046 20.7205 5.30716C16.3105 5.69454 11.832 5.93986 7.44958 6.42409C4.69855 6.72753 1.05074 7.16005 0.572017 7.25044C0.321622 7.30209 0.212384 7.37964 0.177086 7.40546C-0.0711028 7.58624 -0.0258175 7.76049 0.114271 7.89607C0.170527 7.95418 0.312782 8.09627 0.707677 8.11564C27.1171 9.43919 54.1223 6.85666 80.5637 6.58549C126.418 6.12064 173.662 7.96715 219.152 11.9959C219.549 12.0282 219.935 11.8667 219.99 11.6278C220.057 11.3954 219.77 11.1694 219.373 11.1372C173.805 7.10195 126.484 5.24898 80.5416 5.72029C55.8993 5.97209 30.7705 8.2383 6.09391 7.46355C6.66089 7.39898 7.21686 7.33439 7.72427 7.27629C12.0891 6.79206 16.5487 6.5532 20.9411 6.16582C34.9213 4.93912 48.9875 4.16436 63.0692 3.42188C80.5417 2.49217 98.7752 1.69158 117.152 1.31711C123.726 1.37522 130.279 1.43335 136.831 1.50437C151.005 1.65933 165.246 2.11127 179.387 2.71816C183.645 2.9054 187.902 3.09907 192.16 3.26694C193.572 3.32504 197.212 3.49288 197.72 3.47997C198.348 3.46705 198.47 3.15718 198.481 3.10553C198.514 2.98931 198.492 2.8279 198.183 2.69231C198.15 2.67295 197.951 2.60834 197.51 2.5696C171.798 0.284066 144.343 -0.0967975 117.174 0.45199C88.5168 0.213106 59.749 0.109757 31.1643 0C30.7551 0 30.4208 0.193718 30.4175 0.432602C30.4153 0.671486 30.7451 0.86521 31.1543 0.871666C51.8521 0.949142 72.6548 1.02657 93.4364 1.14924Z"
														fill="#F99354"></path>
												</svg></div>
										</div>
										<div class="inline"> the year your brand stands out.</div>
									</h2>
								</div>
								<div class="padding-vertical padding-large">
									<div class="yir24_button-wrap"><a
											href="https://calendly.com/snowhousestudio/15-min-chat-with-thorir-runarsson-snowhouse-studio"
											target="_blank" class="button is-icon w-inline-block">
											<div>LET’S GET MOVING</div>
											<div class="icon-1x1-small w-embed"><svg aria-hidden="true"
													fill="currentColor" role="img" viewBox="0 0 20 21"
													xmlns="http://www.w3.org/2000/svg">
													<title>Arrow Right</title>
													<polygon
														points="16.172 9 10.101 2.929 11.515 1.515 20 10 19.293 10.707 11.515 18.485 10.101 17.071 16.172 11 0 11 0 9">
													</polygon>
												</svg></div>
										</a></div>
								</div>
								<div class="yir24_message-bg"></div>
							</div>
						</div>
					</div>
					<div data-w-id="a058fc3c-e694-48c5-3483-6a4524253816" class="yir24_message-component">
						<div class="yir24_message-strip">
							<div data-w-id="b0c065b6-8d8a-42c5-3348-223ec5189fdb" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65809d228136f3c6cb59fac1_Mansa%20Banking%20(1).webp"
									loading="lazy" data-w-id="b0c065b6-8d8a-42c5-3348-223ec5189fdc"
									sizes="(max-width: 1919px) 100vw, 1920px" alt="Mansa Banking website"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65809d228136f3c6cb59fac1_Mansa%2520Banking%2520(1)-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65809d228136f3c6cb59fac1_Mansa%2520Banking%2520(1)-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65809d228136f3c6cb59fac1_Mansa%2520Banking%2520(1)-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65809d228136f3c6cb59fac1_Mansa%20Banking%20(1).webp 1920w"
									class="yir_img" /></div>
							<div data-w-id="85b27dc0-775d-4cb0-274f-620733f2729e" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec741_Brava.webp"
									loading="lazy" data-w-id="85b27dc0-775d-4cb0-274f-620733f2729f"
									sizes="(max-width: 978px) 100vw, 978px" alt="brava website thumb"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec741_Brava-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec741_Brava-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec741_Brava.webp 978w"
									class="yir_img" /></div>
							<div data-w-id="e05ef821-49d8-925d-d16a-02855f99f8be" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec739_Founder%20Coach.webp"
									loading="lazy" data-w-id="e05ef821-49d8-925d-d16a-02855f99f8bf"
									sizes="(max-width: 978px) 100vw, 978px" alt="founder coach website thumb"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec739_Founder%2520Coach-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec739_Founder%2520Coach-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec739_Founder%20Coach.webp 978w"
									class="yir_img" /></div>
							<div data-w-id="d78f7013-96f6-7e4b-3f4c-19a07f2621ae" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec715_well-advised.webp"
									loading="lazy" data-w-id="d78f7013-96f6-7e4b-3f4c-19a07f2621af"
									sizes="(max-width: 978px) 100vw, 978px" alt="well advised website thumb"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec715_well-advised-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec715_well-advised-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec715_well-advised.webp 978w"
									class="yir_img" /></div>
							<div data-w-id="a14f1074-f242-6efe-ecc3-db6c55d97a3e" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec70d_youballin.webp"
									loading="lazy" sizes="(max-width: 978px) 100vw, 978px"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec70d_youballin-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec70d_youballin-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec70d_youballin.webp 978w"
									alt="Youballin website thumb" class="yir_img" /></div>
							<div data-w-id="e00703ba-9fdc-ccfa-3837-b32805238f93" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec721_moar.webp"
									loading="lazy" data-w-id="e00703ba-9fdc-ccfa-3837-b32805238f94"
									sizes="(max-width: 978px) 100vw, 978px" alt="moar website thumb"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec721_moar-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec721_moar-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec721_moar.webp 978w"
									class="yir_img" /></div>
							<div data-w-id="32d96713-c556-c72e-5bed-6746c56f2a7a" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec711_som.webp"
									loading="lazy" data-w-id="32d96713-c556-c72e-5bed-6746c56f2a7b"
									sizes="(max-width: 978px) 100vw, 978px" alt="school of motion website thumb"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec711_som-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec711_som-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec711_som.webp 978w"
									class="yir_img" /></div>
							<div data-w-id="c6b96bad-0766-ac34-04f4-5152a2320163" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec719_elevate-brands.webp"
									loading="lazy" data-w-id="c6b96bad-0766-ac34-04f4-5152a2320164"
									sizes="(max-width: 978px) 100vw, 978px" alt="elevate website thumb"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec719_elevate-brands-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec719_elevate-brands-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec719_elevate-brands.webp 978w"
									class="yir_img" /></div>
							<div data-w-id="70ded01e-e493-ecb5-742d-a46b5ac5dae5" class="yir24_message-img"><img
									src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec73d_Scope.webp"
									loading="lazy" data-w-id="6e8e0445-fa88-43ad-a674-1a965818f052"
									sizes="(max-width: 978px) 100vw, 978px" alt="scope website thumb"
									srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec73d_Scope-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec73d_Scope-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/65567d7967da3dd6a65ec73d_Scope.webp 978w"
									class="yir_img" /></div>
						</div>
					</div>
				</section>
