<section class="yir24_section-projects">
    <div class="embed w-embed w-script">
        <script src="inline/script-5.js"></script>
    </div>
    <div class="padding-global padding-section-huge">
        <div class="container-large">
            <div class="yir24_text-interaction">
                <h2 class="heading-style-h6">projects</h2>
                <div class="spacer-medium"></div>
                <p class="text-size-xxlarge">In 2024, we partnered with companies of all shapes and
                    sizes, united by a shared mission: creating web experiences that amplify their
                    brand, build genuine connections with customers, and adapt to rapid growth. Here’s a
                    look at some of our work from this year.</p>
                <div class="spacer-xhuge"></div>
            </div>
            <div class="yir24_projects-wrapper w-dyn-list">
                <div fs-cmsload-element="list" fs-cmsload-mode="load-under" role="list"
                    class="yir24_projects-list w-dyn-items">
                    <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd0" style="opacity:0" role="listitem"
                        class="yir24_projects-item w-dyn-item">
                        <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd1" class="yir24_project-wrapper">
                            <div class="recent-projects_image-overflow">
                                <div class="recent-projects_image-overflow"><img loading="eager" width="592"
                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/6661ceba380bbef499c3d25c_SOM_Thumb_New.webp"
                                        alt="" sizes="(max-width: 767px) 100vw, 592px"
                                        srcset="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/6661ceba380bbef499c3d25c_SOM_Thumb_New-p-500.webp 500w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/6661ceba380bbef499c3d25c_SOM_Thumb_New-p-800.webp 800w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/6661ceba380bbef499c3d25c_SOM_Thumb_New-p-1080.webp 1080w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/6661ceba380bbef499c3d25c_SOM_Thumb_New.webp 1184w"
                                        class="recent-projects_image is-yir24" /></div>
                                <div class="recent-projects_services-wrap">
                                    <div class="w-dyn-list">
                                        <div style="opacity:0" role="list"
                                            class="recent-projects_services-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Research &amp; discovery</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Strategy</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Content Migration</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Web Design</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy"
                                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/657227236344ca7b043814e9_webflow-icon.svg" />
                                                    <div>Webflow Development</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-projects_content">
                                <h2 class="heading-style-h4">School of Motion</h2>
                                <p class="opacity-70">School of Motion, a valued client for nearly three
                                    years, faced significant workflow challenges due to their website
                                    being managed by three different agencies, resulting in inconsistent
                                    design systems and slow load times, which we addressed with a
                                    complete redesign from the ground up.</p>
                            </div><a aria-label="School of Motion" href="/projects/school-of-motion"
                                class="recent-projects_link w-inline-block"></a>
                        </div>
                    </div>
                    <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd0" style="opacity:0" role="listitem"
                        class="yir24_projects-item w-dyn-item">
                        <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd1" class="yir24_project-wrapper">
                            <div class="recent-projects_image-overflow">
                                <div class="recent-projects_image-overflow"><img loading="eager" width="592"
                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/669926de01b7efe86b20245a_Seen_Thumbnail.webp"
                                        alt="" sizes="(max-width: 767px) 100vw, 592px"
                                        srcset="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/669926de01b7efe86b20245a_Seen_Thumbnail-p-500.webp 500w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/669926de01b7efe86b20245a_Seen_Thumbnail-p-800.webp 800w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/669926de01b7efe86b20245a_Seen_Thumbnail-p-1080.webp 1080w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/669926de01b7efe86b20245a_Seen_Thumbnail-p-1600.webp 1600w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/669926de01b7efe86b20245a_Seen_Thumbnail.webp 1776w"
                                        class="recent-projects_image is-yir24" /></div>
                                <div class="recent-projects_services-wrap">
                                    <div class="w-dyn-list">
                                        <div style="opacity:0" role="list"
                                            class="recent-projects_services-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Web interactions &amp; animations</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Integrations</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy"
                                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/657227236344ca7b043814e9_webflow-icon.svg" />
                                                    <div>Webflow Development</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>CMS implementation</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-projects_content">
                                <h2 class="heading-style-h4">Seen</h2>
                                <p class="opacity-70">We collaborated with Seen on their new website,
                                    handling Webflow development, content migration, and creating
                                    engaging animations to deliver a visually stunning and user-friendly
                                    experience, reflecting their brand values and vision.</p>
                            </div><a aria-label="Seen" href="/projects/seen"
                                class="recent-projects_link w-inline-block"></a>
                        </div>
                    </div>
                    <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd0" style="opacity:0" role="listitem"
                        class="yir24_projects-item w-dyn-item">
                        <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd1" class="yir24_project-wrapper">
                            <div class="recent-projects_image-overflow">
                                <div class="recent-projects_image-overflow"><img loading="eager" width="592"
                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/66f1430d99592cdb569e64a2_Newfangled_Featured_Card.png"
                                        alt="" sizes="(max-width: 767px) 100vw, 592px"
                                        srcset="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/66f1430d99592cdb569e64a2_Newfangled_Featured_Card-p-500.png 500w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/66f1430d99592cdb569e64a2_Newfangled_Featured_Card-p-800.png 800w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/66f1430d99592cdb569e64a2_Newfangled_Featured_Card-p-1080.png 1080w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/66f1430d99592cdb569e64a2_Newfangled_Featured_Card.png 1184w"
                                        class="recent-projects_image is-yir24" /></div>
                                <div class="recent-projects_services-wrap">
                                    <div class="w-dyn-list">
                                        <div style="opacity:0" role="list"
                                            class="recent-projects_services-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Web Design</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Strategy</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Web interactions &amp; animations</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy"
                                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/657227236344ca7b043814e9_webflow-icon.svg" />
                                                    <div>Webflow development</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-projects_content">
                                <h2 class="heading-style-h4">Newfangled Studios</h2>
                                <p class="opacity-70">We collaborated with Newfangled Studios to
                                    completely redesign and develop their website on Webflow, creating a
                                    dynamic, playful, and professional user experience that reflects
                                    their bold and innovative creative work.</p>
                            </div><a aria-label="Newfangled Studios" href="/projects/newfangled-studios"
                                class="recent-projects_link w-inline-block"></a>
                        </div>
                    </div>
                    <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd0" style="opacity:0" role="listitem"
                        class="yir24_projects-item w-dyn-item">
                        <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd1" class="yir24_project-wrapper">
                            <div class="recent-projects_image-overflow">
                                <div class="recent-projects_image-overflow"><img loading="eager" width="592"
                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/674c69ada3e1309be55af2e0_Lota_Card_Large.png"
                                        alt="" sizes="(max-width: 767px) 100vw, 592px"
                                        srcset="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/674c69ada3e1309be55af2e0_Lota_Card_Large-p-500.png 500w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/674c69ada3e1309be55af2e0_Lota_Card_Large-p-800.png 800w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/674c69ada3e1309be55af2e0_Lota_Card_Large.png 1184w"
                                        class="recent-projects_image is-yir24" /></div>
                                <div class="recent-projects_services-wrap">
                                    <div class="w-dyn-list">
                                        <div style="opacity:0" role="list"
                                            class="recent-projects_services-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Web Design</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy"
                                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/657227236344ca7b043814e9_webflow-icon.svg" />
                                                    <div>Webflow Development</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Web interactions &amp; animations</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Strategy</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Brand Guide</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-projects_content">
                                <h2 class="heading-style-h4">Lota</h2>
                                <p class="opacity-70">We designed a sleek, user-friendly website for
                                    Lota, showcasing their professionalism and expertise with bold
                                    typography, clean layouts, and geometric visuals.</p>
                            </div><a aria-label="Lota" href="/projects/lota"
                                class="recent-projects_link w-inline-block"></a>
                        </div>
                    </div>
                    <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd0" style="opacity:0" role="listitem"
                        class="yir24_projects-item w-dyn-item">
                        <div data-w-id="cea8500e-c0a2-118c-b996-7721a3cb3fd1" class="yir24_project-wrapper">
                            <div class="recent-projects_image-overflow">
                                <div class="recent-projects_image-overflow"><img loading="eager" width="592"
                                        src="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/67769ddfb7002feac05a0fe1_Euri_Featured.png"
                                        alt="" sizes="(max-width: 767px) 100vw, 592px"
                                        srcset="https://cdn.prod.website-files.com/655cac10f5959da4937eb534/67769ddfb7002feac05a0fe1_Euri_Featured-p-500.png 500w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/67769ddfb7002feac05a0fe1_Euri_Featured-p-800.png 800w, https://cdn.prod.website-files.com/655cac10f5959da4937eb534/67769ddfb7002feac05a0fe1_Euri_Featured.png 1184w"
                                        class="recent-projects_image is-yir24" /></div>
                                <div class="recent-projects_services-wrap">
                                    <div class="w-dyn-list">
                                        <div style="opacity:0" role="list"
                                            class="recent-projects_services-list w-dyn-items">
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Research &amp; discovery</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Web Design</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Content Migration</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>Integrations</div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="w-dyn-item">
                                                <div class="service-tag"><img alt="" loading="lazy" src=""
                                                        class="w-dyn-bind-empty" />
                                                    <div>UI / UX</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-projects_content">
                                <h2 class="heading-style-h4">Euri Lighting</h2>
                                <p class="opacity-70">We transformed Euri Lighting’s digital presence
                                    with a modern Webflow site, showcasing 400+ products, simplifying
                                    management, and enhancing their B2B quote system.</p>
                            </div><a aria-label="Euri Lighting" href="/projects/euri-lighting"
                                class="recent-projects_link w-inline-block"></a>
                        </div>
                    </div>
                </div>
                <div role="navigation" aria-label="List" class="w-pagination-wrapper yir24_pagination">
                </div>
            </div>
            <div class="mouse_overflow pointer-events-off">
                <div style="opacity:0;-webkit-transform:translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                    class="button is-project">
                    <div class="text-size-regular text-weight-medium">VIEW PROJECT</div>
                    <div class="button-icon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                            viewBox="0 0 20 20" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true"
                            role="img">
                            <path
                                d="M5.20352 15.4303C4.96655 15.1934 4.9468 14.8214 5.14428 14.5619L5.20352 14.4942L13.4322 6.26622L7.49906 6.27836C7.13347 6.27915 6.83645 5.98342 6.83567 5.61782C6.83495 5.28546 7.0793 5.00978 7.39841 4.96181L7.49621 4.95442L15.0318 4.9382C15.0799 4.93809 15.1269 4.94314 15.1722 4.95282C15.1855 4.95606 15.1991 4.95941 15.2126 4.96319C15.2245 4.96612 15.2362 4.96977 15.2477 4.97374C15.2643 4.97976 15.2812 4.98627 15.2978 4.9935C15.3108 4.99887 15.3229 5.00463 15.3348 5.01073C15.3494 5.01845 15.3647 5.027 15.3796 5.0362C15.3902 5.0425 15.4 5.04892 15.4096 5.05559C15.4239 5.06563 15.4382 5.07641 15.4521 5.08785C15.4629 5.09644 15.4732 5.10538 15.4831 5.11462C15.4891 5.12035 15.4953 5.12633 15.5014 5.13246L15.5193 5.15082C15.5281 5.16037 15.5367 5.17017 15.5449 5.18023L15.5014 5.13246C15.5309 5.16199 15.5571 5.19363 15.5799 5.22688C15.5854 5.23479 15.5908 5.24311 15.596 5.25155C15.6068 5.26896 15.6165 5.28638 15.6254 5.3041C15.6298 5.31288 15.6344 5.32248 15.6387 5.33219C15.6473 5.35174 15.6548 5.37112 15.6613 5.39073C15.6644 5.39992 15.6675 5.40976 15.6703 5.4197C15.6748 5.43595 15.6787 5.45185 15.6819 5.46785C15.6842 5.47917 15.6864 5.49124 15.6881 5.50342L15.6895 5.51287C15.6933 5.54195 15.6953 5.57125 15.6953 5.60054L15.6952 5.60154L15.6796 13.1377C15.6788 13.5033 15.3818 13.7991 15.0162 13.7983C14.6838 13.7976 14.4092 13.5521 14.3626 13.2328L14.3556 13.135L14.3671 7.20364L6.13969 15.4303C5.88118 15.6888 5.46204 15.6888 5.20352 15.4303Z"
                                fill="currentColor"></path>
                        </svg></div>
                </div>
            </div>
        </div>
    </div>
</section>