				<section class="yir24_section-subscriptions">
					<div class="padding-global padding-section-huge">
						<div class="container-large">
							<div class="yir24_text-interaction">
								<h2 class="heading-style-h6">subscription projects</h2>
								<div class="spacer-medium"></div>
								<p class="text-size-xxlarge">Ahh, subscriptions—yes, we still do them and have been
									since 2020. But in 2024, we prioritized quality over quantity, limiting ourselves to
									5-6 subscription partners at a time. This allowed our small, nimble team to deliver
									work that’s timely and well-crafted. In the past, juggling too many led to stress,
									subpar results, and clients moving on. Lesson learned—focused work leads to happy
									clients.</p>
								<div class="spacer-xhuge"></div>
							</div>
							<div class="yir24_subscription-component">
								<div class="col1">
									<div class="image-mid float"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c947b62de032ed6ced_Placeholder%20Image.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c947b62de032ed6ced_Placeholder%20Image-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c947b62de032ed6ced_Placeholder%20Image.webp 720w"
											alt="" /></div>
									<div class="image-small float3"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb429e31103a574522d4d_image.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb429e31103a574522d4d_image-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb429e31103a574522d4d_image.webp 615w"
											alt="" /></div>
									<div class="image-mid is-center float2"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c967e0ab236f57a29e_image%20115.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c967e0ab236f57a29e_image%20115-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c967e0ab236f57a29e_image%20115.webp 720w"
											alt="" /></div>
									<div class="image-mid is-right float3"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb429e31103a574522d51_image-4.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb429e31103a574522d51_image-4-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb429e31103a574522d51_image-4.webp 720w"
											alt="" /></div>
									<div class="image-small is-left float"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43eb8e11eb7b840b9fb_image-2.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43eb8e11eb7b840b9fb_image-2-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43eb8e11eb7b840b9fb_image-2.webp 615w"
											alt="" /></div>
									<div class="image-mid is-right float3"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4253d12277fa47072bb_image-1.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4253d12277fa47072bb_image-1-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4253d12277fa47072bb_image-1.webp 720w"
											alt="" /></div>
									<div class="image-small is-center"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c96e4ad851d62eb852_image-1.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c96e4ad851d62eb852_image-1-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c96e4ad851d62eb852_image-1.webp 615w"
											alt="" /></div>
									<div class="image-mid is-right float2"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb425eee30cc6d662c43d_image-2.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb425eee30cc6d662c43d_image-2-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb425eee30cc6d662c43d_image-2.webp 720w"
											alt="" /></div>
									<div class="image-mid"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6cab36e633228549381_image.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6cab36e633228549381_image-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6cab36e633228549381_image.webp 720w"
											alt="" /></div>
									<div class="image-small float2"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb42541291d7dddc91601_image-3.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb42541291d7dddc91601_image-3-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb42541291d7dddc91601_image-3.webp 615w"
											alt="" /></div>
									<div class="image-mid"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c96d7493ec6027dbbc_image%20311.webp"
											loading="eager" sizes="(max-width: 708px) 100vw, 708px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c96d7493ec6027dbbc_image%20311-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c96d7493ec6027dbbc_image%20311.webp 708w"
											alt="" /></div>
									<div class="image-small float2"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4253ddabdee10614d15_image%20313.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4253ddabdee10614d15_image%20313-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4253ddabdee10614d15_image%20313.webp 615w"
											alt="" /></div>
									<div class="image-mid float3"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c98fcd23ca4673372d_image-3.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c98fcd23ca4673372d_image-3-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea6c98fcd23ca4673372d_image-3.webp 720w"
											alt="" /></div>
								</div>
								<div class="col2">
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760da0dce3fd685a9c9_Placeholder%20Image.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760da0dce3fd685a9c9_Placeholder%20Image-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760da0dce3fd685a9c9_Placeholder%20Image-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760da0dce3fd685a9c9_Placeholder%20Image-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760da0dce3fd685a9c9_Placeholder%20Image.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760db539e9bc57e6147_Placeholder%20Image-1.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760db539e9bc57e6147_Placeholder%20Image-1-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760db539e9bc57e6147_Placeholder%20Image-1-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760db539e9bc57e6147_Placeholder%20Image-1-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760db539e9bc57e6147_Placeholder%20Image-1.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ed545d43f3bcb1589_image.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ed545d43f3bcb1589_image-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ed545d43f3bcb1589_image-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ed545d43f3bcb1589_image-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ed545d43f3bcb1589_image.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75efbe24c1ca0a7a85b_image%20310.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75efbe24c1ca0a7a85b_image%20310-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75efbe24c1ca0a7a85b_image%20310-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75efbe24c1ca0a7a85b_image%20310-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75efbe24c1ca0a7a85b_image%20310.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75fcfd5a47be1508be7_image-1.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75fcfd5a47be1508be7_image-1-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75fcfd5a47be1508be7_image-1-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75fcfd5a47be1508be7_image-1-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75fcfd5a47be1508be7_image-1.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ebf66b8a25269dd29_image-2.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ebf66b8a25269dd29_image-2-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ebf66b8a25269dd29_image-2-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ebf66b8a25269dd29_image-2-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ebf66b8a25269dd29_image-2.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e21e4e7ffd0f806f3_image%20118.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e21e4e7ffd0f806f3_image%20118-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e21e4e7ffd0f806f3_image%20118-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e21e4e7ffd0f806f3_image%20118-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e21e4e7ffd0f806f3_image%20118.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e4743ec2ab5480d4f_Group%208345.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e4743ec2ab5480d4f_Group%208345-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e4743ec2ab5480d4f_Group%208345-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e4743ec2ab5480d4f_Group%208345-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e4743ec2ab5480d4f_Group%208345.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f5afee8c6b81514e2_Frame%202147223277.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f5afee8c6b81514e2_Frame%202147223277-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f5afee8c6b81514e2_Frame%202147223277-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f5afee8c6b81514e2_Frame%202147223277-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f5afee8c6b81514e2_Frame%202147223277.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760c068bffea6fc5d8d_Placeholder%20Image-2.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760c068bffea6fc5d8d_Placeholder%20Image-2-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760c068bffea6fc5d8d_Placeholder%20Image-2-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760c068bffea6fc5d8d_Placeholder%20Image-2-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea760c068bffea6fc5d8d_Placeholder%20Image-2.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ea60af68fe4fbda16_image-3.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ea60af68fe4fbda16_image-3-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ea60af68fe4fbda16_image-3-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ea60af68fe4fbda16_image-3-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75ea60af68fe4fbda16_image-3.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea76091e159d14a70bb49_image-4.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea76091e159d14a70bb49_image-4-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea76091e159d14a70bb49_image-4-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea76091e159d14a70bb49_image-4-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea76091e159d14a70bb49_image-4.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f1009962d7a7a535e_C24-device%20draft%20layout.webp"
											loading="eager" sizes="(max-width: 1180px) 100vw, 1180px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f1009962d7a7a535e_C24-device%20draft%20layout-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f1009962d7a7a535e_C24-device%20draft%20layout-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f1009962d7a7a535e_C24-device%20draft%20layout-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f1009962d7a7a535e_C24-device%20draft%20layout.webp 1180w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e1009962d7a7a5328_image-5.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e1009962d7a7a5328_image-5-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e1009962d7a7a5328_image-5-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e1009962d7a7a5328_image-5-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e1009962d7a7a5328_image-5.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e6c467431e3b7f851_Frame%201000003555.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e6c467431e3b7f851_Frame%201000003555-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e6c467431e3b7f851_Frame%201000003555-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e6c467431e3b7f851_Frame%201000003555-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75e6c467431e3b7f851_Frame%201000003555.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
									<div class="image-large"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f3a77954069d01c73_image-6.webp"
											loading="eager" sizes="(max-width: 1184px) 100vw, 1184px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f3a77954069d01c73_image-6-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f3a77954069d01c73_image-6-p-800.webp 800w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f3a77954069d01c73_image-6-p-1080.webp 1080w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677ea75f3a77954069d01c73_image-6.webp 1184w"
											alt="" class="yir24_subscription-img" />
										<div class="yir24_subscription-cover"></div>
									</div>
								</div>
								<div class="col3">
									<div class="image-small is-center float3"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e09db63fcde3dac13_image.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e09db63fcde3dac13_image-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e09db63fcde3dac13_image.webp 615w"
											alt="" /></div>
									<div class="image-mid is-right float2"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451a590756281c50016_image.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451a590756281c50016_image-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451a590756281c50016_image.webp 720w"
											alt="" /></div>
									<div class="image-small is-left"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e37562e6911e5be5d_image-1.webp"
											loading="eager" sizes="(max-width: 660px) 100vw, 660px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e37562e6911e5be5d_image-1-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e37562e6911e5be5d_image-1.webp 660w"
											alt="" /></div>
									<div class="image-small float2"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451a9c023d08f2eebd5_image-1.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451a9c023d08f2eebd5_image-1-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451a9c023d08f2eebd5_image-1.webp 615w"
											alt="" /></div>
									<div class="image-mid"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb44549cc80160697e51b_image-5.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb44549cc80160697e51b_image-5-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb44549cc80160697e51b_image-5.webp 720w"
											alt="" /></div>
									<div class="image-small float2"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451e302d569100d14c0_image-2.webp"
											loading="eager" sizes="(max-width: 600px) 100vw, 600px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451e302d569100d14c0_image-2-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451e302d569100d14c0_image-2.webp 600w"
											alt="" /></div>
									<div class="image-mid is-center float"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e9b52b46e94ddbe0d_image-4.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e9b52b46e94ddbe0d_image-4-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43e9b52b46e94ddbe0d_image-4.webp 720w"
											alt="" /></div>
									<div class="image-mid is-right"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4516971cd9b95963440_image-3.webp"
											loading="eager" sizes="(max-width: 720px) 100vw, 720px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4516971cd9b95963440_image-3-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4516971cd9b95963440_image-3.webp 720w"
											alt="" /></div>
									<div class="image-small is-left float3"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb9859b52b46e94e2c682_image.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb9859b52b46e94e2c682_image-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb9859b52b46e94e2c682_image.webp 615w"
											alt="" /></div>
									<div class="image-mid is-right"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4511390510cd5eb81b9_image-4.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4511390510cd5eb81b9_image-4-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4511390510cd5eb81b9_image-4.webp 615w"
											alt="" /></div>
									<div class="image-small is-center float"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43ee302d569100d001a_image%20314.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43ee302d569100d001a_image%20314-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb43ee302d569100d001a_image%20314.webp 615w"
											alt="" /></div>
									<div class="image-mid is-right"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451ab65baeb3437c0e8_image-5.webp"
											loading="eager" sizes="(max-width: 708px) 100vw, 708px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451ab65baeb3437c0e8_image-5-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb451ab65baeb3437c0e8_image-5.webp 708w"
											alt="" /></div>
									<div class="image-mid float2"><img
											src="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4511390510cd5eb81b9_image-4.webp"
											loading="eager" sizes="(max-width: 615px) 100vw, 615px"
											srcset="https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4511390510cd5eb81b9_image-4-p-500.webp 500w, https://cdn.prod.website-files.com/6556587229ab0b6eb7395da6/677eb4511390510cd5eb81b9_image-4.webp 615w"
											alt="" /></div>
								</div>
							</div>
							<div class="spacer-xxhuge"></div>
						</div>
					</div>
				</section>
