<section class="yir24_section-testimonials">
    <div class="padding-global z-index-2">
        <div class="container-large">
            <div class="yir24_video is-testimonials">
                <div class="plyr_component">
                    <div bind="bb54083e-2df4-5c3c-f1de-c4f22f0f10f1" class="plyr_embed w-embed">
                        <div id="player"
                            style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;"
                            class="plyr_video" data-plyr-provider="youtube" data-plyr-embed-id="4vLJlNzIl54?"></div>
                    </div>
                    <div class="plyr_cover">
                        <div class="plyr_cover-img w-embed w-iframe"><iframe width="100%" height="100%"
                                src="https://www.youtube.com/embed/4vLJlNzIl54?autoplay=1&amp;mute=1&amp;loop=1&amp;playlist=4vLJlNzIl54&amp;controls=0"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="">
                            </iframe></div>
                        <div class="plyr_cover-button">
                            <div class="home-lightbox-bg">
                                <div class="text-size-medium text-weight-medium lightbox-text">PLAY
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="plyr_pause-trigger"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="yir24_testimonial-marquee">
        <div class="yir24_testimonial-marquee-wrap">
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">bold</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">fantastic experience</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">unique</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">fun</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">professional</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">enjoyable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">creative</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">pleasure</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">incredible</div>
                        </div>
                    </div>
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">bold</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">fantastic experience</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">unique</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">fun</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">professional</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">enjoyable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">creative</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">pleasure</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">incredible</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">insightful</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">communication</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">attentiveness</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">grateful</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">technical</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">integration</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">deliver</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">expectations</div>
                        </div>
                    </div>
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">insightful</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">communication</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">attentiveness</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">grateful</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">technical</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">integration</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">deliver</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">expectations</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">guidance</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">expert</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">care</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">fantastic</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">brand</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">life</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">capturing</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">enjoyable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">content</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">together</div>
                        </div>
                    </div>
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">guidance</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">expert</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">care</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">fantastic</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">brand</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">life</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">capturing</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">enjoyable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">content</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">together</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">smooth</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">thrilled</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">results</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">recommended</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">understanding</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">goals</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">ideas</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">wonderful</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">kind</div>
                        </div>
                    </div>
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">smooth</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">thrilled</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">results</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">recommended</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">understanding</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">goals</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">ideas</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">wonderful</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">kind</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">reflect</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">feedback</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">easy</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">breeze</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">happy</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">professionalism</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">exceeded</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">compliments</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">satisfaction</div>
                        </div>
                    </div>
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">reflect</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">feedback</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">easy</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">breeze</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">happy</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">professionalism</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">exceeded</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">compliments</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">satisfaction</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">elevate</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">magicians</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">gorgeous</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">performance</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">architecture</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">unbelievable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">capable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">experts</div>
                        </div>
                    </div>
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">elevate</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">magicians</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">gorgeous</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">performance</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">architecture</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">unbelievable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">capable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">experts</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">10/10</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">positive</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">great</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">support</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">solutions</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">pleasant</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">well-organized</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">work</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">skilled</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">invaluable</div>
                        </div>
                    </div>
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">10/10</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">positive</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">great</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">support</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">solutions</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">pleasant</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">well-organized</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">work</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">skilled</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">invaluable</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">proficiency</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">technical</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">asset</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">game-changer</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">ideas</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">crafted</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">compelling</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">innovative</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">accessible</div>
                        </div>
                    </div>
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">proficiency</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">technical</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">asset</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">game-changer</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">ideas</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">crafted</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">compelling</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">innovative</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">accessible</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">attention</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">above</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">beyond</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">standards</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">commitment</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">success</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">expertise</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">excited</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">continue</div>
                        </div>
                    </div>
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">attention</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">above</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">beyond</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">standards</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">commitment</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">success</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">expertise</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">excited</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">continue</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">impressed</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">polished</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">effectively</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">adjustments</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">clean</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">flexibility</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">superb</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">top-tier</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">seamless</div>
                        </div>
                    </div>
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">impressed</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">polished</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">effectively</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">adjustments</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">clean</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">flexibility</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">superb</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">top-tier</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">seamless</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">user-friendly</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">responsiveness</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">attention</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">design</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">user-experience</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">on-point</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">quick</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">transparent</div>
                        </div>
                    </div>
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">user-friendly</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">responsiveness</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">attention</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">design</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">user-experience</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">on-point</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">quick</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">transparent</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">exactly</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">agreed</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">thrilled</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">a true partner</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">cutting-edge</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">consistently</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">customer service</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">expert</div>
                        </div>
                    </div>
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">exactly</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">agreed</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">thrilled</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">a true partner</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">cutting-edge</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">consistently</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">customer service</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">expert</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">knowledgeable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">story</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">aesthetically pleasing</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">partner</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">ongoing</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">refreshing</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">interactive</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">dynamic</div>
                        </div>
                    </div>
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">knowledgeable</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">story</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">aesthetically pleasing</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">partner</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">ongoing</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">refreshing</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">interactive</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">dynamic</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">talented</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">thoughtful</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">execute</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">initiatives</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">always</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">timely</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">informed</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">assured</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">on-budget</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">helpful</div>
                        </div>
                    </div>
                    <div class="marquee-right">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">talented</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">thoughtful</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">execute</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">initiatives</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">always</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">timely</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">informed</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">assured</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">on-budget</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">helpful</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="marquee-overflow-wrap">
                <div class="marquee-wrap">
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">friendly</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">pixel perfect</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">grow</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">seamless</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">joy</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">kind</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">proud</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">effort</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">unique</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">patience</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">creative</div>
                        </div>
                    </div>
                    <div class="marquee-left">
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">friendly</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">pixel perfect</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">grow</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">seamless</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">joy</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">kind</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">proud</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">effort</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">unique</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">patience</div>
                        </div>
                        <div class="yir_marquee-tag">
                            <div class="text-size-xlarge">creative</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>