		<section id="statement" class="section approach">
			<div class="padding-global">
				<div class="how_we_deliver-component">
					<div class="how_we_deliver-wrapper">
						<p class="heading-style-h2 text-color-white"><span text-fade="">Other firms skim. We dig. We take the hard stuff—the dense, jargon-filled rules—and translate it into answers that actually make sense.</span></p>
					</div>
					<div class="deliver_wrapper">
						<div data-fade-in="" class="deliver_card">
							<div class="detail-tab-wrapper">
								<div class="detail text-color-clay">Our approach is simple:</div>
							</div>
							<div class="approach_text-wrapper">
								<h2 class="heading-style-h4">Integrated, not siloed.</h2>
								<div class="body-small text-color-clay">Tax and law in one conversation, every time.</div>
							</div>
							<div class="approach_text-wrapper">
								<h2 class="heading-style-h4">Agile, not bloated.</h2>
								<div class="body-small text-color-clay">Big-firm solutions, small-firm speed.</div>
							</div>
							<div class="approach_text-wrapper">
								<h2 class="heading-style-h4">Obsessive, not careless. </h2>
								<div class="body-small text-color-clay">We nerd out on the code so your strategy is airtight.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="background-content-wrapper"><img src="https://cdn.prod.website-files.com/68eee3b7aa1d9628fd1f8ee0/68fb1175cfff1cf8efb95908_samuele-giglio-uFgRqw0rw4k-unsplash%202.avif" loading="lazy" data-w-id="f8e6b5a1-5fb2-6ae6-3230-635c0e830f31" sizes="100vw" alt="" srcset="https://cdn.prod.website-files.com/68eee3b7aa1d9628fd1f8ee0/68fb1175cfff1cf8efb95908_samuele-giglio-uFgRqw0rw4k-unsplash%202-p-500.avif 500w, https://cdn.prod.website-files.com/68eee3b7aa1d9628fd1f8ee0/68fb1175cfff1cf8efb95908_samuele-giglio-uFgRqw0rw4k-unsplash%202-p-800.avif 800w, https://cdn.prod.website-files.com/68eee3b7aa1d9628fd1f8ee0/68fb1175cfff1cf8efb95908_samuele-giglio-uFgRqw0rw4k-unsplash%202-p-1080.avif 1080w, https://cdn.prod.website-files.com/68eee3b7aa1d9628fd1f8ee0/68fb1175cfff1cf8efb95908_samuele-giglio-uFgRqw0rw4k-unsplash%202-p-1600.avif 1600w, https://cdn.prod.website-files.com/68eee3b7aa1d9628fd1f8ee0/68fb1175cfff1cf8efb95908_samuele-giglio-uFgRqw0rw4k-unsplash%202.avif 2058w" class="background-image is-parallax" /></div>
		</section>

