	<div class="global-code">
		<div class="gsap_hero w-embed w-script"><link rel="stylesheet" href="inline/style-7.css" />

<script src="inline/script-3.js"></script></div>
		<div class="css_hero w-embed"><link rel="stylesheet" href="inline/style-8.css" /></div>
		<div class="gsap_heading w-embed w-script"><script src="inline/script-4.js"></script></div>
		<div class="data-slide-up w-embed w-script"><script src="inline/script-5.js"></script></div>
		<div class="gsap_text_type w-embed w-script"><script src="inline/script-6.js"></script></div>
		<div class="gsap_fade w-embed w-script"><link rel="stylesheet" href="inline/style-9.css" />

<script src="inline/script-7.js"></script></div>
		<div class="gsap_grow_in w-embed w-script"><link rel="stylesheet" href="inline/style-10.css" />

<script src="inline/script-8.js"></script></div>
		<div class="gsap_stagger w-embed w-script"><link rel="stylesheet" href="inline/style-11.css" />
<script src="inline/script-9.js"></script></div>
		<div class="gsap_text_reveal w-embed w-script"><!-- Include GSAP library, ScrollTrigger plugin, Split-Type library -->
<script src="external/js/script-ajax-libs-gsap.js"></script>
<script src="external/js/script-ajax-libs-gsap-1.js"></script>
<script src="external/js/script-split-type.js"></script>

<script src="inline/script-10.js"></script></div>
		<div class="code_radios w-embed w-script"><script src="inline/script-11.js"></script></div>
	</div>

