<section class="section hero">
	<div class="background-content-wrapper hero"><img alt="ghana law competition"
			src="https://ik.imagekit.io/dr5fryhth/conferencenew/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg"
			loading="lazy" id="heroBackgroundImage" class="background-image" />
		<div class="background-lines">
			<div id="heroLottie" class="background-lines-lottie" data-w-id="a727e391-d1c2-aac8-d195-b51a39bde08a"
				data-animation-type="lottie"
				data-src="https://cdn.prod.website-files.com/68eee3b7aa1d9628fd1f8ee0/6902a78a9c7e586066d7f0f3_3.json"
				data-loop="0" data-direction="1" data-autoplay="1" data-is-ix2-target="0" data-renderer="svg"
				data-default-duration="0" data-duration="8.966666666666667"></div>
		</div>
		<div class="background-overlay"></div>
	</div>
	<div id="folderComponent" class="folder_content-component">
		<div class="folder_tab-wrapper">
			<div class="folder_tab-bevel_wrapper">
				<div class="folder_tab-svg w-embed"><svg width="96" height="48" viewBox="0 0 96 48" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<path
							d="M47.5686 23.9847C23.7995 0 23.7843 0 0 0V48H84.8969H95.137C71.3681 48 71.3378 47.9694 47.6147 24.0312L47.5686 23.9847Z"
							fill="currentColor"></path>
					</svg></div>
			</div>
			<div class="folder_tab-content">
				<div class="detail-tab-wrapper">
					<div id="iconTag" class="icon-tag w-embed"><svg width="100%" height="100%" viewBox="0 0 10 10"
							fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="5" cy="5" r="4.5" stroke="currentColor"></circle>
						</svg></div>
					<div class="detail text-color-clay">Ghana Competition Law Seminar</div>
				</div>
			</div>
		</div>
		<div class="folder_content-wrapper">
			<div class="container-six-col is-folder">
				<h1 id="heroHeading" class="hero-heading text-color-clay">Laying a Sound
					Foundation for a New Era</h1>
			</div>
			<div class="container-four-col is-folder">
				<div id="heroParagraph" class="body-medium text-indent">Join leading competition law experts at the Mövenpick Ambassador Hotel, Accra on 25 March 2026 for a high-level seminar on Ghana's new era of competition law.</div>
			</div>
		</div>
	</div>
</section>