<section id="statement" class="section approach">
    <div class="padding-global">
        <div class="how_we_deliver-component">
            <div class="how_we_deliver-wrapper">
                <p class="heading-style-h2 text-color-white"><span text-fade="">Tackle the hard questions—institutional structure, regulatory overlap, enforcement strategy—and turn them into clear, workable steps for Ghana’s new competition era.</span></p>
            </div>
            <div class="deliver_wrapper">
                <div data-fade-in="" class="deliver_card">
                    <div class="detail-tab-wrapper">
                        <div class="detail text-color-clay">Important Info.</div>
                    </div>
                    <div class="approach_text-wrapper">
                        <h2 class="heading-style-h4">25th March, 2026</h2>
                        <div class="body-small text-color-clay">Date of Conference</div>
                    </div>
                    <div class="approach_text-wrapper">
                        <h2 class="heading-style-h4">9:00 AM – 3:00 PM</h2>
                        <div class="body-small text-color-clay">Welcome drinks and registration from 9:00 - 9:25</div>
                    </div>
                    <div class="approach_text-wrapper">
                        <h2 class="heading-style-h4">Mövenpick Ambassador Hotel </h2>
                        <div class="body-small text-color-clay">Independence Avenue, Accra, Ghana
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="background-content-wrapper"><img
            src="https://ik.imagekit.io/dr5fryhth/conferencenew/confroom.webp"
            loading="lazy" data-w-id="f8e6b5a1-5fb2-6ae6-3230-635c0e830f31" sizes="100vw" alt="" class="background-image is-parallax" /></div>
</section>