		<section id="agenda" class="section offerings">
			<div class="section_break-component">
				<div class="section_break-tile_wrapper">
					<div class="section_break-tile"></div>
					<div id="greyBox" class="section_break-tile one"></div>
				</div>
				<div class="section_break-tile_wrapper">
					<div id="seafoamBox" class="section_break-tile two"></div>
					<div class="section_break-tile"></div>
				</div>
				<div class="section_break-tile_wrapper">
					<div class="section_break-tile"></div>
					<div id="popBox" class="section_break-tile three"></div>
				</div>
				<div class="section_break-tile_wrapper">
					<div id="clayBox" class="section_break-tile four"></div>
					<div class="section_break-tile"></div>
				</div>
			</div>
			<div class="padding-global">
				<div class="container-full">
					<div class="services_main-wrapper">
						<div data-wf--detail--variant="base" class="detail-tab-wrapper">
							<div data-fade-in="" class="icon-tag w-embed"><svg width="100%" height="100%" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="5" cy="5.5" r="5" fill="currentColor"></circle>
</svg></div>
							<div data-fade-in="" class="detail text-color-pop">Program Outline.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="offerings_wrapper">
				<div data-fade-y="10" data-fade-in="" class="offering_wrapper">
					<div class="container-four-col">
						<h2 data-heading-animation="">Welcome and Registration <br> <br>9:00AM - 10:30AM</h2>
					</div>
					<div class="container-half is-services">
						<div class="offerings_bullet_wrapper">
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Welcome drinks and registration: 9:00 - 9:25</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Morning Session</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Introduction of panelist and dignitaries </p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Introduction of panelist and dignitaries</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Chairman's opening remarks</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Speech by Minister of Trade &amp; Attorney General</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Pictures - Panellists and Ministers</p>
							</div>
						</div>
					</div>
				</div>
				<div data-fade-y="10" data-fade-in="" class="offering_wrapper">
					<div class="container-four-col">
						<h2 data-heading-animation="">Session II <br><br> 10:30AM - 11:55AM</h2>
					</div>
					<div class="container-half is-services">
						<div class="offerings_bullet_wrapper">
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Speaker: Peter Alexiadis: 10:30am - 11:30am</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Question & Answers: 11:30 - 11:40</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Question & Answers: 11:30 - 11:40</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Coffee break: 11:40 - 11:55</p>
							</div>

						</div>
					</div>
				</div>
				<div data-fade-y="10" data-fade-in="" class="offering_wrapper">
					<div class="container-four-col">
						<h2 data-heading-animation="">Session III <br><br> 12:00PM - 1:30PM</h2>
					</div>
					<div class="container-half is-services">
						<div class="offerings_bullet_wrapper">
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Speaker: Prof. David Bailey (KC): 12:00 - 1:00</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Q &amp; A: 1:00 - 1:30</p>
							</div>
						</div>
					</div>
				</div>
				<div data-fade-y="10" data-fade-in="" class="offering_wrapper is-last">
					<div class="container-four-col">
						<h2 data-heading-animation="">Session IV (Panel Session) <br> <br>2:00pm - 3:00pm</h2>
					</div>
					<div class="container-half is-services">
						<div class="offerings_bullet_wrapper">
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Intersection of Regulation & Antitrust - where do we start? : 2:05 - 2:30</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Closing Remarks - Martieta Brew - Presidential Advisor on Governance: 2:35 - 2:50pm</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Looking ahead - Kofi Datsa - CMC Managing Director : 2:55</p>
							</div>
							<div class="offering_bullet">
								<div data-fade-offset="-20" data-fade-in="" class="offering_bullet-svg_wrapper">
									<div class="offering_bullet-svg w-embed"><svg width="100%" height="100%" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M2.44841 9.57781L7.09627 9.57781C7.47458 9.57781 7.78356 9.58548 8.08743 9.44252C8.19144 9.39358 8.2873 9.33218 8.38213 9.25925C8.45045 9.20744 8.51571 9.15083 8.57791 9.0923L8.97764 8.64805L11.8267 5.48072C12.0562 5.22549 12.0592 4.85225 11.8339 4.59414L8.85018 1.18118C8.79511 1.11689 8.73495 1.05548 8.67275 0.996953C8.43821 0.776267 8.23529 0.593001 7.94263 0.500889C7.7856 0.450995 7.62142 0.42221 7.43481 0.42221L6.57519 0.42221L2.09253 0.42221C1.71422 0.42221 1.40524 0.414534 1.10137 0.5575C0.997357 0.606435 0.901504 0.667843 0.806671 0.740766C0.73835 0.792579 0.673088 0.84919 0.610886 0.90772C0.376351 1.12841 0.181586 1.31935 0.0836933 1.59473C0.0306681 1.74249 0.0102739 1.89889 7.67081e-05 2.07256L7.67081e-05 7.6089C7.67081e-05 7.96488 -0.00808102 8.25561 0.143856 8.54154C0.195862 8.63941 0.261124 8.72961 0.338622 8.81884C0.393686 8.88313 0.45385 8.94454 0.516052 9.00307C0.751606 9.22471 0.954529 9.40702 1.24719 9.49913C1.40422 9.54902 1.57044 9.57781 1.75501 9.57781L2.44943 9.57781L2.44841 9.57781Z" fill="currentColor"></path>
</svg></div>
								</div>
								<p data-fade-offset="-21" data-fade-in="">Vote of Thanks - Eleanor Adjaho Sarpong - CMC International Coordinator</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

